<body id="body">
  <!-- wrap -->
  <div id="wrap">
    <!-- header -->
    <div id="header">
      <div class="top_sec">
        <h1 class="">
          <a href="/main.do"><%= image_tag "top_logo.png", alt: "DKU Web Information System"%></a>
        </h1>
        <a href="#" class="btn_portal">portal 바로가기</a>
        <div class="util_box">
          <form>
            <!-- my_name -->
            <div class="my_name">
              <p>홍길동(국제 국제경영학전공-12341234)</p>
              <span class="my_count" style="display:none"></span>
            </div>
            <!-- //my_name -->
            <!-- 학과 -->
            <div class="study_select">
              <select id="changeUsers" name="changeId" title="조직" class="chosen-select-no-single" style="display: none;">
              <option >재학생-12341234</option></select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="조직" id="changeUsers_chosen"><a class="chosen-single chosen-default" tabindex="-1"><span>Select an Option</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
              <input type="hidden" id="orgid" name="orgid">
            </div>
            <!-- //학과 -->
            <a href="#" class="btn_logout"><span class="blind">로그아웃</span></a>
          </form>
        </div>
      </div>

      <div class="nav_wrap">
        <h2 class="nav_tit"><%= image_tag "nav_tit.png", alt: "단국대학교 웹정보시스템" %></h2>
        <!-- 메인메뉴 -->
        <ul class="nav"><li id="WCOMM"><a href="#" class="ico_nav ico_common">공통</a></li><li id="WUNIV" class="on"><a href="#" class="ico_nav ico_school">학사정보</a><div class="nav_bookmark"></div></li><li id="WADMI"><a href="#" class="ico_nav ico_admin">행정정보</a></li><li id="WADJT"><a href="#" class="ico_nav ico_research">부속행정</a></li><li id="WPOTF"><a href="#" class="ico_nav ico_pofol" data-context="/ptfo">포트폴리오</a></li></ul>
        <!-- //메인메뉴 -->
        <!-- 다국어 선택 -->
        <form id="localeChange">
          <div class="language_select">
            <select id="lang" name="lang" title="다국어선택" selected="selected">
              <option value="ko">한글</option>
              <option value="en">English</option>
            </select>
          </div>
        </form>
        <!-- //다국어 선택 -->
      </div>
    </div>
    <!-- //header -->

    <!-- contents -->
    <div id="contents" style="min-height: 637px;">
      <!-- 사이드메뉴 폴더 -->
      <div class="btn_fold"><a href="#"><span class="blind">사이드메뉴 보기</span></a></div>
      <!-- //사이드메뉴 폴더 -->
      <!-- aside -->
      <div class="aside">
        <div class="snb">
          <h2 class="aside_tit">학사정보</h2>
          <ul class="sub_nav"><li id="WSREC" data-parent="WUNIV"><a href="#" data-context="/ptfo" data-leap="N">학적관리</a><ul style="display: none;"><li id="3893" data-parent="WSREC"><a href="#" data-context="/tiac" data-leap="Y">
            <span class="lnb_lst_header">-</span>기본학적(신상정보변경)</a></li><li id="3895" data-parent="WSREC"><a href="#" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>전공신청</a></li><li id="3896" data-parent="WSREC">
              <a href="#" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>교류전공신청</a></li><li id="3897" data-parent="WSREC"><a href="#" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>학적변동신청</a>
              </li><li id="3898" data-parent="WSREC"><a href="#" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>전부(과)신청</a></li><li id="3899" data-parent="WSREC"><a href="#" data-context="/tiac" data-leap="Y">
                <span class="lnb_lst_header">-</span>전부(과)경쟁률조회</a></li><li id="3900" data-parent="WSREC"><a href="#" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>상벌정보조회</a></li></ul></li><li id="WPROQ" data-parent="WUNIV">
                  <a href="#" data-context="/ptfo" data-leap="N">자격관리</a><ul style="display: none;"><li id="3903" data-parent="WPROQ"><a href="#" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>교직이수신청</a></li>
                    <li id="3905" data-parent="WPROQ"><a href="#" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>교직복수(연계)전공신청</a></li><li id="5730" data-parent="WPROQ"><a href="/tiac/univ/proq/teac/views/findFieldTrainingBssForm.do" data-context="/tiac" data-leap="Y">
                      <span class="lnb_lst_header">-</span>학교현장실습기초조사</a></li><li id="5660" data-parent="WPROQ"><a href="#" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>학교현장실습동의서제출</a></li><li id="3909" data-parent="WPROQ"><a href="/tiac/univ/proq/teac/views/findFieldTraining.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>학교현장실습신청</a></li><li id="5071" data-parent="WPROQ"><a href="/tiac/univ/proq/teac/views/findFieldPresence.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>학교현장실습 출석인정서</a></li><li id="5657" data-parent="WPROQ"><a href="/tiac/univ/proq/teac/views/findTeacSvcDscBasListW.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>개인별교육봉사조회</a></li><li id="3911" data-parent="WPROQ"><a href="/tiac/univ/proq/teac/views/findPslTestApp.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>적성ㆍ인성검사 신청 및 결과</a></li><li id="3912" data-parent="WPROQ"><a href="/tiac/univ/proq/teac/views/findIndTrainingApp.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>공업계현장실습신청</a></li><li id="3913" data-parent="WPROQ"><a href="/tiac/univ/proq/teac/views/findTeacQualificationsApp.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>교원자격무시험검정신청</a></li></ul></li><li id="WGRAD" data-parent="WUNIV"><a href="#" data-context="/ptfo" data-leap="N">졸업관리</a><ul style="display: none;"><li id="3917" data-parent="WGRAD"><a href="/tiac/univ/grad/egpm/views/findGrdFast.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>조기졸업신청</a></li><li id="3918" data-parent="WGRAD"><a href="/tiac/univ/grad/egpm/views/findGrdDelay.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>졸업연기신청</a></li><li id="3919" data-parent="WGRAD"><a href="/tiac/univ/grad/gasm/views/findGrdtObjrDscGeneration.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>자가진단시뮬레이션</a></li></ul></li><li id="WLSSN" data-parent="WUNIV" class="on"><a href="#" data-context="/ptfo" data-leap="N">수업관리</a><ul style="display: block;"><li id="WSSTM" data-parent="WLSSN" class="on"><a href="#" data-context="/ptfo" data-leap="N">수강신청</a><ul style="display: block;"><li id="5465" data-parent="WSSTM"><a href="#" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>수강안내문</a></li><li id="5160" data-parent="WSSTM" class="on"><a href="#" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>수강신청</a></li><li id="5726" data-parent="WSSTM"><a href="#" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>수강신청확인서</a></li><li id="5313" data-parent="WSSTM"><a href="#" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>수강계획도우미</a></li><li id="5159" data-parent="WSSTM"><a href="#" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>수강시간표</a></li><li id="5323" data-parent="WSSTM"><a href="#" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>수강철회 신청</a></li><li id="3954" data-parent="WSSTM"><a href="#" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>계절학기 수강확인 및 고지서 출력</a></li></ul></li><li id="WLPCI" data-parent="WLSSN"><a href="#" data-context="/ptfo" data-leap="N">강의시간표</a><ul style="display: none;"><li id="3955" data-parent="WLPCI"><a href="/tiac/univ/lssn/lpci/views/findLctTmtblDscList.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>강의시간표(전체용)</a></li></ul></li><li id="WBZTM" data-parent="WLSSN"><a href="#" data-context="/ptfo" data-leap="N">출강관리</a><ul style="display: none;"><li id="3927" data-parent="WBZTM"><a href="/tiac/univ/lssn/bztm/views/findLecrAttndCfmDscList.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>출석확인 조회</a></li></ul></li><li id="WLEQI" data-parent="WLSSN"><a href="#" data-context="/ptfo" data-leap="N">강의평가</a><ul style="display: none;"><li id="3930" data-parent="WLEQI"><a href="/tiac/univ/lssn/leqi/views/findLecevSrvshDscList.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>강의평가 입력</a></li><li id="5314" data-parent="WLEQI"><a href="/tiac/univ/lssn/lepc/views/findLecevCfm.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>강의평가 확인조회</a></li></ul></li><li id="WETCM" data-parent="WLSSN"><a href="#" data-context="/ptfo" data-leap="N">교양영어</a><ul style="display: none;"><li id="5120" data-parent="WETCM"><a href="/tiac/univ/lssn/etcm/views/findVldComplForm.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>영어특별학습 신청</a></li><li id="5503" data-parent="WETCM"><a href="/tiac/univ/lssn/etcm/views/findStuTkcrsEngLvlDsc.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>영어 레벨 조회</a></li></ul></li></ul></li><li id="WGDMG" data-parent="WUNIV"><a href="#" data-context="/ptfo" data-leap="N">성적관리</a><ul style="display: none;"><li id="4018" data-parent="WGDMG"><a href="/tiac/univ/cret/rgcm/views/findSvcAplForm.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>사회봉사 입력 및 조회</a></li><li id="5335" data-parent="WGDMG"><a href="/tiac/univ/cret/rgcm/views/findEngSbjtExmpAplForm.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>영어교과면제신청</a></li><li id="4019" data-parent="WGDMG"><a href="/tiac/univ/cret/auem/views/findOaengAplForm.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>공인영어 입력 및 조회</a></li><li id="4020" data-parent="WGDMG"><a href="/tiac/univ/cret/auem/views/findOaengSprtAmtAplForm.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>공인영어 지원금 신청</a></li><li id="4021" data-parent="WGDMG"><a href="/tiac/univ/cret/gdmg/views/findLtrClTskStuList.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>과제/기타성적 조회</a></li><li id="4022" data-parent="WGDMG"><a href="/tiac/univ/cret/gdmg/views/findMidExamStuList.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>중간고사성적 조회</a></li><li id="4023" data-parent="WGDMG"><a href="/tiac/univ/cret/gdim/views/findTkcrsGrWList.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>최종성적 조회</a></li><li id="4024" data-parent="WGDMG"><a href="/tiac/univ/cret/gdmg/views/findGrCrapyAplWForm.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>성적정정 신청</a></li><li id="4025" data-parent="WGDMG"><a href="/tiac/univ/cret/gdcm/views/findGrDscWList.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>누적성적 조회</a></li><li id="4026" data-parent="WGDMG"><a href="/tiac/univ/cret/gdmg/views/findSubjAbdntList.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>교과목포기 조회</a></li></ul></li><li id="WCLIN" data-parent="WUNIV"><a href="#" data-context="/ptfo" data-leap="N">클리닉</a><ul style="display: none;"><li id="5117" data-parent="WCLIN"><a href="/tiac/univ/lssn/etcm/views/findEclinicGuide.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>English Clinic 신청</a></li></ul></li><li id="WEFLN" data-parent="WUNIV"><a href="#" data-context="/ptfo" data-leap="N">장학관리</a><ul style="display: none;"><li id="3959" data-parent="WEFLN"><a href="/tiac/univ/efln/sssm/views/findGrSchlrApl.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>성적장학신청</a></li><li id="3962" data-parent="WEFLN"><a href="/tiac/univ/efln/sssm/views/findSchspBnfDscList.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>장학금수혜내역조회</a></li></ul></li><li id="WENRL" data-parent="WUNIV"><a href="#" data-context="/ptfo" data-leap="N">등록관리</a><ul style="display: none;"><li id="3963" data-parent="WENRL"><a href="/tiac/univ/enrl/ismm/views/findInstmApl.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>분납신청</a></li><li id="3964" data-parent="WENRL"><a href="/tiac/univ/enrl/rgom/views/findTfeeNtshtDsc.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>등록금고지서출력</a></li><li id="3965" data-parent="WENRL"><a href="/tiac/univ/enrl/rcmg/views/findTfeePymtgDscList.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>등록금납부내역조회</a></li></ul></li><li id="WSTUD" data-parent="WUNIV"><a href="#" data-context="/ptfo" data-leap="N">학생관리</a><ul style="display: none;"><li id="3966" data-parent="WSTUD"><a href="/tiac/univ/stud/cbmg/views/findClubJoinApl.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>동아리가입신청</a></li><li id="3973" data-parent="WSTUD"><a href="/tiac/univ/stud/cbmg/views/findClubActyCrtList.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>동아리활동확인서발급</a></li><li id="3968" data-parent="WSTUD"><a href="/tiac/univ/stud/sppm/views/findStpcnPgmList.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>학생참여프로그램신청</a></li><li id="3971" data-parent="WSTUD"><a href="/tiac/univ/stud/sppm/views/findStpcnPgmRsl.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>학생참여프로그램보고서등록</a></li><li id="5297" data-parent="WSTUD"><a href="/tiac/univ/stud/sppm/views/findStpcnPgmCrtList.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>학생참여프로그램확인서발급</a></li><li id="3972" data-parent="WSTUD"><a href="/tiac/univ/stud/essm/views/findStutActyCrtList.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>학생활동확인서발급</a></li><li id="5891" data-parent="WSTUD"><a href="/tiac/univ/stud/milg/views/findStudMilgAplDscList.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>창업마일리지신청</a></li></ul></li><li id="WCUSL" data-parent="WUNIV"><a href="#" data-context="/ptfo" data-leap="N">상담관리</a><ul style="display: none;"><li id="3974" data-parent="WCUSL"><a href="/tiac/univ/cusl/cslm/views/findCuslApl.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>상담신청</a></li></ul></li><li id="WMILT" data-parent="WUNIV"><a href="#" data-context="/ptfo" data-leap="N">예비군민방위</a><ul style="display: none;"><li id="WRFMM" data-parent="WMILT"><a href="#" data-context="/ptfo" data-leap="N">예비군전출입관리</a><ul style="display: none;"><li id="3982" data-parent="WRFMM"><a href="/tiac/univ/milt/rfmm/views/findRsvfcFrmtRepor.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>예비군편성신고</a></li></ul></li></ul></li><li id="WMUDM" data-parent="WUNIV"><a href="#" data-context="/ptfo" data-leap="N">음악관리</a><ul style="display: none;"><li id="5534" data-parent="WMUDM"><a href="/tiac/univ/mudm/mcss/views/findMusicDataInq.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>음악 자료 조회</a></li><li id="5535" data-parent="WMUDM"><a href="/tiac/univ/mudm/mcss/views/findMusicDataLnRtnInq.do" data-context="/tiac" data-leap="Y"><span class="lnb_lst_header">-</span>음악 자료 대출 반납 조회</a></li></ul></li><li id="WEXCH" data-parent="WUNIV"><a href="#" data-context="/ptfo" data-leap="N">국제교류</a><ul style="display: none;"><li id="WISSM" data-parent="WEXCH"><a href="#" data-context="/ptfo" data-leap="N">ISS/IWS</a><ul style="display: none;"><li id="4031" data-parent="WISSM"><a href="/tiaf/adjt/exch/issm/tcsr/views/findIssTkcrsAplForm.do" data-context="/tiaf" data-leap="Y"><span class="lnb_lst_header">-</span>수강신청</a></li><li id="4032" data-parent="WISSM"><a href="/tiaf/adjt/exch/issm/tcsr/views/findIssTkcrsAplList.do" data-context="/tiaf" data-leap="Y"><span class="lnb_lst_header">-</span>수강조회</a></li><li id="5672" data-parent="WISSM"><a href="/tiaf/adjt/exch/issm/tcsr/views/findIssRfndAplForm.do" data-context="/tiaf" data-leap="Y"><span class="lnb_lst_header">-</span>환불신청</a></li></ul></li><li id="WESOM" data-parent="WEXCH"><a href="#" data-context="/ptfo" data-leap="N">교환학생</a><ul style="display: none;"><li id="4034" data-parent="WESOM"><a href="/tiaf/adjt/exch/esom/views/findExstdOutAplRslList.do" data-context="/tiaf" data-leap="Y"><span class="lnb_lst_header">-</span>교환학생신청</a></li><li id="4035" data-parent="WESOM"><a href="/tiaf/adjt/exch/esom/views/findExstdOutRgcdtAplList.do" data-context="/tiaf" data-leap="Y"><span class="lnb_lst_header">-</span>학점인정신청</a></li></ul></li><li id="WESVT" data-parent="WEXCH"><a href="#" data-context="/ptfo" data-leap="N">방문학생</a><ul style="display: none;"><li id="5599" data-parent="WESVT"><a href="/tiaf/adjt/exch/esvt/views/findExstdOutAplRslList.do" data-context="/tiaf" data-leap="Y"><span class="lnb_lst_header">-</span>방문학생신청</a></li><li id="5601" data-parent="WESVT"><a href="/tiaf/adjt/exch/esvt/views/findExstdOutRgcdtAplList.do" data-context="/tiaf" data-leap="Y"><span class="lnb_lst_header">-</span>학점인정신청</a></li></ul></li><li id="WLGST" data-parent="WEXCH"><a href="#" data-context="/ptfo" data-leap="N">어학연수</a><ul style="display: none;"><li id="4036" data-parent="WLGST"><a href="/tiaf/adjt/exch/lgst/views/findLangsTrngAplRslList.do" data-context="/tiaf" data-leap="Y"><span class="lnb_lst_header">-</span>어학연수신청</a></li><li id="4038" data-parent="WLGST"><a href="/tiaf/adjt/exch/lgst/views/findLangsTrngSfBudenRgcdtAplList.do" data-context="/tiaf" data-leap="Y"><span class="lnb_lst_header">-</span>학점인정신청(자비)</a></li></ul></li><li id="WFCIS" data-parent="WEXCH"><a href="#" data-context="/ptfo" data-leap="N">해외인턴십</a><ul style="display: none;"><li id="4040" data-parent="WFCIS"><a href="/tiaf/adjt/exch/fcis/views/findFcntyItspAplRslList.do" data-context="/tiaf" data-leap="Y"><span class="lnb_lst_header">-</span>해외인턴십신청</a></li><li id="5383" data-parent="WFCIS"><a href="/tiaf/adjt/exch/fcis/views/findFcntyItspSfRgcdtAplList.do" data-context="/tiaf" data-leap="Y"><span class="lnb_lst_header">-</span>학점인정신청(자비)</a></li></ul></li><li id="WFSAS" data-parent="WEXCH"><a href="#" data-context="/ptfo" data-leap="N">외국인유학생</a><ul style="display: none;"><li id="4042" data-parent="WFSAS"><a href="/tiaf/adjt/exch/fsas/views/findSablvStudOathSbmForm.do" data-context="/tiaf" data-leap="Y"><span class="lnb_lst_header">-</span>서약서제출</a></li><li id="4043" data-parent="WFSAS"><a href="/tiaf/adjt/exch/fsas/views/findSablvStudDormAplForm.do" data-context="/tiaf" data-leap="Y"><span class="lnb_lst_header">-</span>생활관신청</a></li></ul></li></ul></li></ul>
        </div>
      </div>
      <!-- //aside -->

      <!-- cont -->
      <div class="cont">
        <div class="f_l w_74">

          <!-- 타이틀 -->
          <div id="titleSection" class="section_top_tit" style="">
            <!-- 현재위치 -->
            <ul class="gps">
              <li class="home">
                <span class="blind">home</span>
              </li>
            <li>수업관리</li><li>수강신청</li><li>수강신청</li></ul>
            <!-- //현재위치 -->
            <h3 id="title" class="tit_now tit_school">수강신청</h3>
          </div>

          <div class="clear_box">
            <div class="f_l w_79 tbl_row">
              <table class="tbl_striped">
                <caption>수강신청 내 정보</caption>
                <colgroup>
                  <col style="width: 150px">
                  <col style="width: 15%">
                  <col style="width: 20%">
                  <col style="width: 15%">
                  <col>
                </colgroup>
                <tbody>
                  <tr>
                    <th scope="rowgroup" rowspan="2" class="bg_striped">2016-하계계절

                        <br>(2학년-2)

                    </th><!-- 학기 --><!-- 학년 -->
                    <th scope="row">소속</th><!-- 소속 -->
                    <td>국제학부 국제경영학전공</td>
                    <th scope="row">소속</th><!-- 소속 -->
                    <td>국제학부 국제경영학전공</td>
                  </tr>
                  <tr>
                    <th scope="row">학번</th><!-- 학번 -->
                    <td>32141620</td>
                    <th scope="row">성명</th><!-- 성명 -->
                    <td>문승현</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="f_r w_20 tbl_row">
              <table>
                <caption>학점</caption>
                <colgroup>
                  <col style="width: 50%">
                  <col>
                </colgroup>
                <tbody>
                  <tr>
                    <th scope="row">과목 수</th><!-- 과목수 -->
                    <td class="ta_c"></td>
                  </tr>
                  <tr>
                    <th scope="row">학점 계</th><!-- 학점계 -->
                    <td class="ta_c"></td>
                  </tr>
                    <tr>
                      <th scope="row">과목 수</th><!-- 과목수 -->
                      <td class="ta_c"></td>
                    </tr>
                    <tr>
                      <th scope="row">학점 계</th><!-- 학점계 -->
                      <td class="ta_c"></td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
          <br />

          <div id="target"></div>

          <form name="utilAgrForm" id="utilAgrForm" method="post" action="http://sugang.dankook.ac.kr/logon.do">
            <div class="section_mid_tit">
              <h4 class="tit_mid f_l">수강신청</h4>
            </div>

            <div class="tbl_column">
              <table id="tkcrsPlTbl">
                <thead>
                  <colgroup>
                    <col style="width: 7%;">
                    <col style="width: 5%;">
                    <col style="width: 25%;">
                    <col style="width: 5%;">
                    <col style="width: 8%;">
                    <col>
                    <col style="width: 8%;">
                    <col style="width: 5%;">
                		<col style="width: 5%;">
                  </colgroup>
                  <tr>
                    <th scope="col">교과목<br />번호</th>
                    <th scope="col">분반</th>
                    <th scope="col">교과목명</th>
                    <th scope="col">학점</th>
                    <th scope="col">교강사명</th>
                    <th scope="col">요일/교시/강의실</th>
                    <th scope="col">신청<br>인원</th>
                    <th scope="col">제한<br>인원</th>
                    <th scope="col">폐강</th>
                  </tr>
                </thead>
                <tbody>
                  <% @test_lectures.each do |test_lecture| %>
                    <tr>
                      <td class="left_line ta_c numbering"><%= test_lecture.lnum %></td>
                      <td class="ta_c"><%= test_lecture.divide %></td>
                      <td class="ta_l"><%= test_lecture.name %></td>
                      <td class="ta_c"><%= test_lecture.score %></td>
                      <td class="ta_c"><%= test_lecture.teacher %></td>
                      <td class="ta_l"><%= test_lecture.ldate %></td>
                      <td class="ta_c"><%= test_lecture.counting %></td>
                      <td class="ta_c"><%= test_lecture.limit_num %></td>
                      <td class="ta_c"> </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </form>

          <br>
          <br>

          <div class="section_mid_tit">
            <h4 class="tit_mid f_l">수강신청내역</h4>
          </div>

          <div class="tbl_column">
            <table class="tbl_striped" id="opLtrTbl">
              <caption></caption>
              <colgroup>
                <col style="width: 6%;">

                <col style="width: 10%;">
                <col style="width: 7%;">
                <col style="width: 4%;">
                <col style="width: 20%;">
                <col style="width: 4%;">
                <col style="width: 10%;">
              </colgroup>
              <thead>
                <tr>
                  <th scope="col">삭제</th>

                  <th scope="col">캠퍼스</th>
                  <th scope="col">교과목번호</th>
                  <th scope="col">분반</th>
                  <th scope="col">교과목명</th>
                  <th scope="col">학점</th>
                  <th scope="col">교강사명</th>
                  <th scope="col">재수강 연도학기</th>
                </tr>
              </thead>
              <tbody>
                <% @test_lectures.each do |test_lecture| %>
                  <tr>
                    <td scope="rowgroup" rowspan="2" class="bg_striped">

                    </td><!-- 학기 --><!-- 학년 -->
                    <td>죽전</td>
                    <td><%= test_lecture.lnum %></td>
                    <td><%= test_lecture.divide %></td>
                    <td><%= test_lecture.name %></td>
                    <td><%= test_lecture.score %></td>
                    <td><%= test_lecture.teacher %></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th colspan="7">
                      <div class="ta_l" style="margin-left: 20px;">
                        [사이버]<!-- 확정과목수 --><!-- 확정학점 -->
                      </div>
                    </th>
                  </tr>
                <% end %>



              </tbody>
            </table>
          </div>
        </div>


        <div class="f_r w_25">
          <div class="tbl_column">
            <table id="tkcrsTmtblListTbl" class="tbl_mixed">
              <caption>수강시간표</caption>
              <colgroup>
                <col style="width: 15%;">
                <col style="width: 14%;">
                <col style="width: 14%;">
                <col style="width: 14%;">
                <col style="width: 14%;">
                <col style="width: 14%;">
                <col style="width: 14%;">
                <col>
              </colgroup>
              <thead>
                <tr>
                  <th scope="col"></th><!-- 교시 -->
                  <th scope="col">월</th><!-- 월 -->
                  <th scope="col">화</th><!-- 화 -->
                  <th scope="col">수</th><!-- 수 -->
                  <th scope="col">목</th><!-- 목 -->
                  <th scope="col">금</th><!-- 금 -->
                  <th scope="col">토</th><!-- 토 -->
                </tr>
              </thead>
              <tbody>
                <% 1.upto(20) do |x| %>
                <tr class="numbering">
              		<td><%= x %>
                  </td>

                  <td>
                  </td>

                  <td>
                  </td>

                  <td>
                  </td>

                  <td>
                  </td>

                  <td>
                  </td>

                  <td>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- //cont -->
    </div>
    <!-- //contents -->

    <!-- footer -->
    <div id="footer">
      <div class="addr_box">
        <p class="addr">죽전캠퍼스 경기도 용인시 수지구 죽전로 152 (우)16890 / 천안캠퍼스 충남 천안시 동남구 단대로 119 (우)31116 </p>
        <p class="copy">COPYRIGHT(C) 2015 BY DANKOOK UNIVERSITY. ALL RIGHTS RESERVED.</p>
      </div>
      <!--
      <ul class="footer_btn">
        <li><a href="#" id="help"><img src="images/layout/footer_help.gif" alt="문의하기" /></a></li>
      </ul>
       -->
    </div>
    <!-- //footer -->
  </div>
  <!-- //wrap -->

</body>
