<% @rehearsal_lectures.each do |rehearsal_lecture| %>
  <tr id='click_list<%= rehearsal_lecture.id %>' style="cursor: pointer;">
    <td class="left_line ta_c numbering"><%= rehearsal_lecture.lnum %></td>
    <td class="ta_c"><%= rehearsal_lecture.divide %></td>
    <td class="ta_l"><%= rehearsal_lecture.name %></td>
    <td class="ta_c"><%= rehearsal_lecture.score %></td>
    <td class="ta_c"><%= rehearsal_lecture.teacher %></td>
    <td class="ta_l"><%= rehearsal_lecture.ldate %></td>
    <td class="ta_c"><%= rehearsal_lecture.counting %></td>
    <td class="ta_c"><%= rehearsal_lecture.limit_num %></td>
    <td class="ta_c"> </td>
  </tr>
<% end %>
