<div class="container content">
	<div class="row margin-bottom-30">
		<div class="col-md-7 mb-margin-bottom-30">
			<div class="headline"><h2>새 글 작성하기</h2></div>
			<p>우측에 있는 규칙들을 충분히 숙지하시고 작성해주세요.</p>
			<p>예의없는 학생은 무시해주세요. 운영자가 처리하겠습니다.</p>
			<p>우리는 같은 학교를 다니고 있는 학생입니다. 반드시 예의를 지켜주세요.</p><br>

      <%= form_for [@board, @post], html: {multipart: true, id: "sky-form3", class: "sky-form sky-changes-3 contact-style", novalidate: "novalidate"} do |f| %>
        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      
            <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

					<section>
            <%= f.label :title %>
						<label class="input">
							<i class="icon-append fa fa-tag"></i>
              <%= f.text_field :title, id: "subject" %>
						</label>
					</section>

					<section>
						<label class="label">content</label>
						<label class="textarea">
              <%= f.text_area :content, class: "summernote", id: "summernote-post" %>
						</label>
					</section>
				</fieldset>

				<footer class='text-center'>
          <%= f.submit "작성하기", class: "btn-u btn-u-lg" %>
				</footer>

				<div class="message">
					<i class="rounded-x fa fa-check"></i>
					<p>Your message was successfully sent!</p>
				</div>
			<% end %>
		</div><!--/col-md-9-->

		<div class="col-md-5">		
			<!-- 운영자 준수 규칙 -->
			<div class="headline"><h2>운영자 규칙</h2></div>
			<p>아래의 규칙은 운영자가 반드시 지킬 규칙입니다.</p>
			<ul class="list-unstyled margin-bottom-30">
				<li><i class="fa fa-check color-green"></i> 사용자에게 중요한 <strong>개인정보</strong>는 받지도 않겠습니다.</li>
				<li><i class="fa fa-check color-green"></i> 광고로 <strong>영리추구</strong>를 하지 않겠습니다.</li>
				<li><i class="fa fa-check color-green"></i> 단국인들이 <strong>원하는 서비스</strong>를 개발하겠습니다.</li>
				<li><i class="fa fa-check color-green"></i> 단국인들의 <strong>학교생활에 도움이 되는 서비스</strong>를 개발하겠습니다.</li>
			</ul>
			
			<!-- 규칙 -->
			<div class="headline"><h2>커뮤니티 규칙</h2></div>
			<p>아래의 규칙을 어기는 글은 삭제되며 작성자는 최소 1년 동안 서비스 이용이 정지됩니다.</p>
			<ul class="list-unstyled margin-bottom-30">
				<li><i class="fa fa-check color-green"></i> 다른 학생의 <strong>실명</strong>을 언급하지 마세요.</li>
				<li><i class="fa fa-check color-green"></i> 다른 학생을 비난하기 위해 <strong>묘사</strong>하셔도 안됩니다.</li>
				<li><i class="fa fa-check color-green"></i> 누구에게든 <strong>반말</strong>을 금지합니다.</li>
				<li><i class="fa fa-check color-green"></i> 다른 학생에 대한 <strong>인신공격, 비속어 사용</strong> 등을 금지해주세요.</li>
			</ul>
			
			<!-- 매너 -->
			<div class="headline"><h2>커뮤니티 매너</h2></div>
			<p>아래의 기본적인 예의를 지켜주세요.</p>
			<ul class="list-unstyled margin-bottom-30">
				<li><i class="fa fa-check color-green"></i> <strong>예의</strong>를 지켜주세요.</li>
				<li><i class="fa fa-check color-green"></i> 상대를 <strong>존중</strong>해주세요.</li>
				<li><i class="fa fa-check color-green"></i> 타인을 지칭할 때 <strong>***님</strong>으로 불러주세요.</li>
			</ul>
			
		</div><!--/col-md-3-->
	</div><!--/row-->
</div>