/ kaminari pagination될 table tr들
- @posts.each do |post|
  %tr{:style => "#{'background-color: #d7f7ff;' if post == @post}"}
    %td.text-center= post.id
    %td
      = link_to "#{post.title}", board_post_path(post.board, post)
      / 관리자일때만 보이게
      - if post.user == current_user
        / 수정버튼
        = link_to board_post_path(post.board, post) do
          %button.btn.btn-icon.btn-xs.btn-warning.btn-fill{:rel => "tooltip", :title => "Edit Profile"}
            %i.fa.fa-edit
        / 삭제버튼
        = link_to board_post_path(post.board, post), method: :delete, data: { confirm: 'Are you sure?' } do
          %button.btn.btn-icon.btn-xs.btn-danger.btn-fill{:rel => "tooltip", :title => "Edit Profile"}
            %i.fa.fa-times
    %td= post.user.username.truncate(10)
    %td.text-center
      = post.get_upvotes.size
      \/ #{post.get_downvotes.size}
    %td.text-center= post.hits
    %td= timeago_tag post.created_at
