- @book_lists.each do |book_list|
  %tr
    %td= book_list.id
    %td
      -# - if cannot? :create, book_list
        =  book_list.name
      -# - else
      = link_to book_list.name, book_list_path(book_list)
    %td= "#{book_list.books.count - book_list.num_of_purchase} / #{book_list.books.count}"
