.search-block.parallaxBg{:style => "background-position: 50% 16px;"}
  .container
    .col-md-6.col-md-offset-3
      %h1
        인액터스
        %span.color-green 중고책
        검색
      = form_tag book_lists_path, method: "get" do
        .row
          .col-md-12.col-xs-12
            .input-group.border-input
              = text_field_tag :name, "", class: "form-control",  placeholder: "책이름"
              %span.input-group-btn
                = button_tag(type: 'submit', class: "btn-u btn-u-lg") do
                  %i.fa.fa-search

.container
  %center
    - if can? :create, @book_lists.first
      = link_to '새 책 등록하기', new_book_path, class: "btn-u margin-bottom-10"
      = link_to '책 리스트 다운로드', book_lists_path(format: "xlsx"), class: "btn-u btn-u-yellow margin-bottom-10" if can? :create, @book_lists.first
  - if @book_lists.empty?
    %h4.text-danger.text-center 검색한 책이 없습니다.
  - else
    .row
      .col-md-offset-2.col-md-8
        .panel.panel-blue.margin-bottom-40
          .panel-heading
            %h3.panel-title.text-center
              %i.fa.fa-phone
              총 #{@book_lists.length}종류의 책이 있습니다.
          .panel-body
            %table.table.table-striped.table-hover.text-center
              %thead
                %tr
                  %th.text-center{"data-field" => "width-20"} #
                  %th.text-center 명칭
                  %th.text-center{"data-field" => "width-130"} 남은 책 / 총 갯수
              %tbody#book_lists
                =render 'book_lists/list'
            #paginator.text-center
              = paginate @book_lists, :param_name => 'page', remote: true
