#container
  .inner_wrap
    / 투표 소개 및 설명
    .voteIntro
      %h2.blind 단국대 교수님들을 응원해 주세요!
    / //투표 소개 및 설명
    .searchBox
      .sorting
        = link_to "전체", pickmes_path(filter: "전체"), class: (params[:filter] == "전체" ? "selected" : "")
        -# = link_to "내 전공", pickme_path(filter: "내 전공"), class: (params[:filter] == "내 전공" ? "selected" : "")
      .search
        = form_tag({url: pickme_path}, {method: "get"}) do
          = text_field_tag :name, "", :placeholder => "이름 검색"
          = submit_tag ""
    %br
    %br
    .tranieeList
      -# .listnb.nb_01{:style => ""} 14
      -# .listnb.nb_02{:style => ""} 28
      -# .listnb.nb_03{:style => ""} 42
      -# .listnb.nb_04{:style => ""} 56
      -# .listnb.nb_05{:style => ""} 70
      -# .listnb.nb_06{:style => ""} 84
      -# .listnb.nb_07{:style => ""} 98
      -# .listnb.nb_08{:style => ""} 112
      -# .listnb.nb_09{:style => ""} 126
      -# .listnb.nb_10{:style => ""} 140
      -# .listnb.nb_11{:style => ""} 154
      -# %ul.nobd
      -# -if
      -# - if @professors.length > 8
      - if @search_professor.nil?
        - @professors.each_slice(7) do |professors_7|
          %ul
            - professors_7.each do |pro|
              %li
                .thumb
                  = link_to ( pro.get_upvotes.size == 0 ? like_pickmes_path(pro) : dislike_pickmes_path(pro)),method: :get do
                    %span.mask_vote
                    %div{style: "background-position: center; background-size: contain;  background-repeat: no-repeat; width: 131px; height: 131px;"}
                    -# background-image: url(#{pro.profile});
                %p.name
                  = "#{pro.name} (#{pro.get_upvotes.size})"
                %p.agency= pro.belong
      - else
        %ul
          %li
            .thumb
              = link_to ( @search_professor.get_upvotes.size == 0 ? like_pickmes_path(@search_professor) : dislike_pickmes_path(@search_professor)),method: :get do
                %span.mask_vote
                %div{style: "background-position: center; background-size: contain;  background-repeat: no-repeat; width: 131px; height: 131px;"}
                -# background-image: url(#{@search_professor.profile});
            %p.name
              = "#{@search_professor.name} (#{@search_professor.get_upvotes.size})"
            %p.agency= @search_professor.belong
