/ === Content Part ===
.container.content.profile
  .row.magazine-page
    - if flash[:alert]
      .alert.alert-warning.fade.in.alert-dismissable{style: "position: fixed; z-index: 100;"}
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
        %strong= flash[:alert]
    / Begin Content
    .col-md-8
      #owl-example.owl-carousel
        %div{style: "height: 250px; background-image: url(#{ image_url 'unify/2.jpg'}); background-position: center; background-repeat: no-repeat; background-size: cover;"}
        %div{style: "height: 250px; background-image: url(#{ image_url 'unify/3.jpg'}); background-position: center; background-repeat: no-repeat; background-size: cover;"}
        %div{style: "height: 250px; background-image: url(#{ image_url 'unify/4.jpg'}); background-position: center; background-repeat: no-repeat; background-size: cover;"}

      = render 'simple_calendar/calendar'

      .magazine-news
        .row
          .col-md-6
            .magazine-news-img
              %span.magazine-badge.label-red Travel
            %h3
              %a{:href => "#"} Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium
            .by-author
              %strong By Jack Villo
              %span / September 19, 2013
            %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...
          .col-md-6
            .magazine-news-img
              %span.magazine-badge.label-blue Event
            %h3
              %a{:href => "#"} Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium
            .by-author
              %strong By Admin
              %span / September 19, 2013
            %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...
      / End Magazine News
      .margin-bottom-35
        %hr.hr-md/
        .margin-bottom-35
          / Magazine News
          .magazine-news
            .row
              .col-md-6
                .magazine-news-img
                  %span.magazine-badge.label-yellow Media
                %h3
                  %a{:href => "#"} Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium
                .by-author
                  %strong By Jack Villo
                  %span / September 19, 2013
                %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...
              .col-md-6
                .magazine-news-img
                  %span.magazine-badge.label-green Relax
                %h3
                  %a{:href => "#"} Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium
                .by-author
                  %strong By Admin
                  %span / September 19, 2013
                %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...
          / End Magazine News
          .margin-bottom-35
            %hr.hr-md/
            / Magazine News
            .magazine-news
              .row
                .col-md-6
                  .magazine-news-img
                    %span.magazine-badge.label-purple Design
                  %h3
                    %a{:href => "#"} Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium
                  .by-author
                    %strong By Jack Villo
                    %span / September 19, 2013
                  %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...
                .col-md-6
                  .magazine-news-img
                    %span.magazine-badge.label-dark-blue Interior
                  %h3
                    %a{:href => "#"} Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium
                  .by-author
                    %strong By Admin
                    %span / September 19, 2013
                  %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...
            / End Magazine News
          / End Content
          / Begin Sidebar

    .col-md-4
      / Profile Event
      .profile-body.md-margin-bottom-20
        .panel.panel-profile.no-bg
          .tag-box-v1.panel-heading.overflow-h
            %h2.panel-title.heading-sm.pull-left
              %i.fa.fa-briefcase>
              실시간 Hot 강의
            = link_to "바로가기", lecture_infos_path, class: "btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right"
          .panel-body.no-padding
            .profile-event
              #vertical_banner
                %ul
                  -if @best_liberal.present?
                    - @best_liberal.each_with_index do |best, index|
                      %li
                        = "#{index + 1}. #{best.name}"
      / End Profile Event
      .profile-body
        .panel.panel-profile
          .tag-box-v1.panel-heading.overflow-h
            %h2.panel-title.heading-sm.pull-left
              %i.fa.fa-comments-o
              자유게시판
            = link_to "바로가기", board_posts_path(1), class: "btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right"
            -# %a.btn-u.btn-brd.btn-brd-hover.btn-u-dark.btn-u-xs.pull-right{:href => "page_profile_comments.html"} View All
          #scrollbar4.panel-body.no-padding.mCustomScrollbar{"data-mcs-theme" => "minimal-dark"}
            - if @best_posts.present?
              - @best_posts.each_with_index do |best, index|
                .comment
                  .overflow-h
                    %strong= "#{index + 1}. #{(best.user.username.nil? ? best.user.name : best.user.username)}"
                    %p= truncate(best.title)
                    %ul.list-inline.comment-list
                      %li
                        %i.fa.fa-heart
                        %a{:href => "#"}= best.cached_votes_up
                      %li
                        %i.fa.fa-comments
                        %a{:href => "#"}= best.comments.length
      / Quick Links
      .magazine-sb-categories.margin-bottom-20
        .headline
          %h2.heading-sm Top Tag 20
        .row
          %ul.list-unstyled.col-xs-6
            - if @listing_a
              - @listing_a.each do |x|
                %li
                  %span.label.rounded.margin-right-5{ class: "label-#{@samples.sample}"}
                    %i.fa.fa-tags
                    = x.name
          %ul.list-unstyled.col-xs-6
            - if @listing_b
              - @listing_b.each do |x|
                %li
                  %span.label.rounded.margin-right-5{ class: "label-#{@samples.sample}"}
                    %i.fa.fa-tags
                    = x.name
      / End Quick Links
      / Latest News
      .margin-bottom-40
        .headline
          %h2.heading-sm 자유 게시판 TOP 7
        .row
          - if @best_posts.present?
            - @best_posts.each_with_index do |best, index|
              .magazine-mini-news
                %h3
                  = link_to truncate(best.title), board_post_path(best.board, best)
                  &nbsp;&nbsp;
                  %span
                    %i.fa.fa-heart.color-red
                  = best.cached_votes_up
                .post-author
                  %span.badge.rounded-2x{class: "badge-#{@samples.sample}"}= index + 1
                  = " #{(best.user.username.nil? ? best.user.name : best.user.username)}"
                  %span= timeago_tag best.created_at
                %p= truncate(best.content, length: 30)
              %hr.hr-md
          / End Latest News
        / End Sidebar
    / /container
    / End Content Part
