		<!--=== Content Part ===-->
		<div class="container content profile">
			<div class="row magazine-page">
				<!-- Begin Content -->
				<div class="col-md-8">
					<!-- Magazine Slider -->
					<div class="carousel slide carousel-v1 margin-bottom-40" id="myCarousel-1">
						<div class="carousel-inner">
							<div class="item active">
							  <%= image_tag "unify/4.jpg" %>
								<div class="carousel-caption">
									<p>사물함 & 중고책 예약 바로가기</p>
								</div>
							</div>
							<div class="item">
							  <%= image_tag "unify/3.jpg" %>
								<div class="carousel-caption">
									<p>사물함 & 중고책 예약 바로가기</p>
								</div>
							</div>
							<div class="item">
							  <%= image_tag "unify/2.jpg" %>
								<div class="carousel-caption">
									<p>사물함 & 중고책 예약 바로가기</p>
								</div>
							</div>
						</div>

						<div class="carousel-arrow">
							<a data-slide="prev" href="#myCarousel-1" class="left carousel-control">
								<i class="fa fa-angle-left"></i>
							</a>
							<a data-slide="next" href="#myCarousel-1" class="right carousel-control">
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
					<!-- End Magazine Slider -->

					<!-- Magazine News -->
					<div class="magazine-news">
						<div class="row">
							<div class="col-md-6">
								<div class="magazine-news-img">
									<a href="#"><img class="img-responsive" src="assets/img/main/img1.jpg" alt=""></a>
									<span class="magazine-badge label-red">Travel</span>
								</div>
								<h3><a href="#">Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium</a></h3>
								<div class="by-author">
									<strong>By Jack Villo</strong>
									<span>/ September 19, 2013</span>
								</div>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...</p>
							</div>
							<div class="col-md-6">
								<div class="magazine-news-img">
									<a href="#"><img class="img-responsive" src="assets/img/main/img2.jpg" alt=""></a>
									<span class="magazine-badge label-blue">Event</span>
								</div>
								<h3><a href="#">Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium</a></h3>
								<div class="by-author">
									<strong>By Admin</strong>
									<span>/ September 19, 2013</span>
								</div>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...</p>
							</div>
						</div>
					</div>
					<!-- End Magazine News -->

					<div class="margin-bottom-35"><hr class="hr-md"></div>

					<!-- Calendar News -->
            <div class='row'>
              <div class='col-md-12'>
                <%= render 'simple_calendar/calendar' %>
              </div>
            </div>
					<!-- End Calendar News -->

					<div class="margin-bottom-35"><hr class="hr-md"></div>

					<!-- Magazine News -->
					<div class="magazine-news">
						<div class="row">
							<div class="col-md-6">
								<div class="magazine-news-img">
									<a href="#"><img class="img-responsive" src="assets/img/main/img26.jpg" alt=""></a>
									<span class="magazine-badge label-yellow">Media</span>
								</div>
								<h3><a href="#">Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium</a></h3>
								<div class="by-author">
									<strong>By Jack Villo</strong>
									<span>/ September 19, 2013</span>
								</div>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...</p>
							</div>
							<div class="col-md-6">
								<div class="magazine-news-img">
									<a href="#"><img class="img-responsive" src="assets/img/main/img24.jpg" alt=""></a>
									<span class="magazine-badge label-green">Relax</span>
								</div>
								<h3><a href="#">Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium</a></h3>
								<div class="by-author">
									<strong>By Admin</strong>
									<span>/ September 19, 2013</span>
								</div>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...</p>
							</div>
						</div>
					</div>
					<!-- End Magazine News -->

					<div class="margin-bottom-35"><hr class="hr-md"></div>

					<!-- Magazine News -->
					<div class="magazine-news">
						<div class="row">
							<div class="col-md-6">
								<div class="magazine-news-img">
									<a href="#"><img class="img-responsive" src="assets/img/main/img3.jpg" alt=""></a>
									<span class="magazine-badge label-purple">Design</span>
								</div>
								<h3><a href="#">Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium</a></h3>
								<div class="by-author">
									<strong>By Jack Villo</strong>
									<span>/ September 19, 2013</span>
								</div>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...</p>
							</div>
							<div class="col-md-6">
								<div class="magazine-news-img">
									<a href="#"><img class="img-responsive" src="assets/img/main/img16.jpg" alt=""></a>
									<span class="magazine-badge label-dark-blue">Interior</span>
								</div>
								<h3><a href="#">Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium</a></h3>
								<div class="by-author">
									<strong>By Admin</strong>
									<span>/ September 19, 2013</span>
								</div>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...</p>
							</div>
						</div>
					</div>
					<!-- End Magazine News -->
				</div>
				<!-- End Content -->

				<!-- Begin Sidebar -->
				<div class="col-md-4">
					<!--Profile Event-->
					<div class="profile-body md-margin-bottom-20">
						<div class="panel panel-profile no-bg">
							<div class="tag-box-v1 panel-heading overflow-h">
								<h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i>Upcoming Events</h2>
								<a href="#"><i class="fa fa-cog pull-right"></i></a>
							</div>
							<div id="scrollbar2" class="panel-body no-padding mCustomScrollbar" data-mcs-theme="minimal-dark">
								<div class="profile-event">
									<div class="date-formats">
										<span>25</span>
										<small>05, 2014</small>
									</div>
									<div class="overflow-h">
										<h3 class="heading-xs"><a href="#">GitHub seminars in Japan.</a></h3>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
									</div>
								</div>
								<div class="profile-event">
									<div class="date-formats">
										<span>31</span>
										<small>06, 2014</small>
									</div>
									<div class="overflow-h">
										<h3 class="heading-xs"><a href="#">Bootstrap Update</a></h3>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
									</div>
								</div>
								<div class="profile-event">
									<div class="date-formats">
										<span>07</span>
										<small>08, 2014</small>
									</div>
									<div class="overflow-h">
										<h3 class="heading-xs"><a href="#">Apple Conference</a></h3>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
									</div>
								</div>
								<div class="profile-event">
									<div class="date-formats">
										<span>22</span>
										<small>10, 2014</small>
									</div>
									<div class="overflow-h">
										<h3 class="heading-xs"><a href="#">Backend Meeting</a></h3>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
									</div>
								</div>
								<div class="profile-event">
									<div class="date-formats">
										<span>14</span>
										<small>11, 2014</small>
									</div>
									<div class="overflow-h">
										<h3 class="heading-xs"><a href="#">Google Conference</a></h3>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
									</div>
								</div>
								<div class="profile-event">
									<div class="date-formats">
										<span>05</span>
										<small>12, 2014</small>
									</div>
									<div class="overflow-h">
										<h3 class="heading-xs"><a href="#">FontAwesome Update</a></h3>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--End Profile Event-->

				<div class='profile-body'>
  					<div class="panel panel-profile">
  						<div class="tag-box-v1 panel-heading overflow-h">
  							<h2 class="panel-title heading-sm pull-left"><i class="fa fa-comments-o"></i> 토론</h2>
  							<a href="page_profile_comments.html" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right">View All</a>
  						</div>
  						<div id="scrollbar4" class="panel-body no-padding mCustomScrollbar" data-mcs-theme="minimal-dark">
  							<div class="comment">
  								<img src="assets/img/testimonials/img6.jpg" alt="">
  								<div class="overflow-h">
  									<strong>Taylor Lee<small class="pull-right"> 25m</small></strong>
  									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  									<ul class="list-inline comment-list">
  										<li><i class="fa fa-heart"></i> <a href="#">23</a></li>
  										<li><i class="fa fa-comments"></i> <a href="#">5</a></li>
  									</ul>
  								</div>
  							</div>
  							<div class="comment">
  								<img src="assets/img/testimonials/img2.jpg" alt="">
  								<div class="overflow-h">
  									<strong>Miranda Clarsson<small class="pull-right"> 44m</small></strong>
  									<p>Donec cursus, orci non posuere luctus, risus massa luctus nisi, sit amet cursus leo massa id arcu. Nunc tincidunt magna sit amet sapien congue.</p>
  									<ul class="list-inline comment-list">
  										<li><i class="fa fa-heart"></i> <a href="#">23</a></li>
  										<li><i class="fa fa-comments"></i> <a href="#">5</a></li>
  									</ul>
  								</div>
  							</div>
  							<div class="comment">
  								<img src="assets/img/testimonials/img4.jpg" alt="">
  								<div class="overflow-h">
  									<strong>Natasha Kolnikova<small class="pull-right"> 7h</small></strong>
  									<p>Suspendisse est est, sollicitudin eget auctor et, pharetra eu sapien. Mauris mollis libero ac auctor iaculis.</p>
  									<ul class="list-inline comment-list">
  										<li><i class="fa fa-heart"></i> <a href="#">23</a></li>
  										<li><i class="fa fa-comments"></i> <a href="#">5</a></li>
  									</ul>
  								</div>
  							</div>
  							<div class="comment">
  								<img src="assets/img/testimonials/img1.jpg" alt="">
  								<div class="overflow-h">
  									<strong>Mikel Andrews<small class="pull-right"> 15h</small></strong>
  									<p>Nam ut dolor cursus nibh aliquet bibendum in eget risus.</p>
  									<ul class="list-inline comment-list">
  										<li><i class="fa fa-heart"></i> <a href="#">20</a></li>
  										<li><i class="fa fa-comments"></i> <a href="#">5</a></li>
  									</ul>
  								</div>
  							</div>
  							<div class="comment">
  								<img src="assets/img/testimonials/img7.jpg" alt="">
  								<div class="overflow-h">
  									<strong>Edward Rooster<small class="pull-right"> 1d</small></strong>
  									<p>Nam ut dolor cursus nibh aliquet bibendum in eget risus. Mauris mollis libero ac auctor iaculis.</p>
  									<ul class="list-inline comment-list">
  										<li><i class="fa fa-heart"></i> <a href="#">23</a></li>
  										<li><i class="fa fa-comments"></i> <a href="#">5</a></li>
  									</ul>
  								</div>
  							</div>
  						</div>
  					</div>
					</div>


					<!-- Quick Links -->
					<div class="magazine-sb-categories margin-bottom-20">
						<div class="headline"><h2 class="heading-sm">Top Tag 20</h2></div>
						<div class="row">
							<ul class="list-unstyled col-xs-6">
								<% @listing_a.each do |x| %>
								<li>
									<span class='label rounded label-<%= @samples.sample %> margin-right-5'>
										<i class="fa fa-tags"></i><%= x.name %>
									</span>
								</li>
								<% end %>
							</ul>
							<ul class="list-unstyled col-xs-6">
								<% @listing_b.each do |x| %>
								<li>
									<span class='label rounded label-<%= @samples.sample %> margin-right-5'>
										<i class="fa fa-tags"></i><%= x.name %>
									</span>
								</li>
								<% end %>
							</ul>
						</div>
					</div>
					<!-- End Quick Links -->



					<!-- Latest News -->
					<div class="margin-bottom-40">
						<div class="magazine-mini-news">
							<h3><a href="#">Blanditiis Praesentium Volupeto</a></h3>
							<div class="post-author">
								<strong>By Adam Bvio</strong>
								<span>/ September 19, 2013</span>
							</div>
							<p>At vero eos et accusamus et iusto odiodig nissimos ducimus usce condimentum eleifend enim a feugiat.</p>
						</div>
						<hr class="hr-md">
						<div class="magazine-mini-news">
							<h3><a href="#">Blanditiis Praesentium Volupeto</a></h3>
							<div class="post-author">
								<strong>By Kate Baur</strong>
								<span>/ September 19, 2013</span>
							</div>
							<p>At vero eos et accusamus et iusto odiodig nissimos ducimus usce condimentum eleifend enim a feugiat.</p>
						</div>
						<hr class="hr-md">
						<div class="magazine-mini-news">
							<h3><a href="#">Blanditiis Praesentium Volupeto</a></h3>
							<div class="post-author">
								<strong>By Admin</strong>
								<span>/ September 19, 2013</span>
							</div>
							<p>At vero eos et accusamus et iusto odiodig nissimos ducimus usce condimentum eleifend enim a feugiat.</p>
						</div>
					</div>
					<!-- End Latest News -->
				</div>
				<!-- End Sidebar -->
			</div>
		</div><!--/container-->
		<!-- End Content Part -->

	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			App.initCounter();
			App.initScrollBar();
			Datepicker.initDatepicker();
			StyleSwitcher.initStyleSwitcher();
		});
	</script>
