.block-description
  .container
    .row
      / Right Inner
      .col-md-5.col-md-push-7
        .right-inner
          %h3.text-center
            \&#xAC15;&#xC758; &#xD3C9;&#xAC00;
            %small
              %a#display-inline{:href => "#"}
                &nbsp;
                = @lecture_info.lecture_estimates.count
                reviews
          .content-boxes-v2.content-boxes-v2-o.text-center
            %h2.heading-sm.overflow-h
              %span
                \&#xD3C9;&#xC810; :
                %ul#display-inline.list-inline.star-vote
                  - 1.upto(@lecture_info.average/20) do |x|
                    %li
                      %i.color-green.fa.fa-star
                  - 1.upto(5 - @lecture_info.average/20) do |y|
                    %li
                      %i.color-green.fa.fa-star-o
                = @lecture_info.average
                \&#xC810;

          %canvas#canvas{:height => "200", :width => "200"}

          .row.content-boxes-v2.content-boxes-v2-o
            .col-sm-6
              %h3.heading-sm.overflow-h
                %i.icon-custom.rounded-x.icon-sm.icon-bg-blue.fa.fa-music
                %span.text-left
                  \&#xC7AC;&#xBBF8;  &#xD765;&#xBBF8;
                  %small
                    %ul.list-inline.star-vote
                      - 1.upto(@lecture_info.av_fun/20) do |x|
                        %li
                          %i.color-green.fa.fa-star
                      - 1.upto(5 - @lecture_info.av_fun/20) do |y|
                        %li
                          %i.color-green.fa.fa-star-o
                    = @lecture_info.av_fun
                    \&#xC810;
            .col-sm-6
              %h3.heading-sm.overflow-h
                %i.icon-custom.rounded-x.icon-sm.icon-bg-blue.fa.fa-graduation-cap
                %span.text-left
                  \&#xAD50;&#xC218;&#xB825;
                  %small
                    %ul.list-inline.star-vote
                      - 1.upto(@lecture_info.av_teaching/20) do |x|
                        %li
                          %i.color-green.fa.fa-star
                      - 1.upto(5 - @lecture_info.av_teaching/20) do |y|
                        %li
                          %i.color-green.fa.fa-star-o
                    = @lecture_info.av_teaching
                    \&#xC810;
          .row.content-boxes-v2.content-boxes-v2-o
            .col-sm-6
              %h3.heading-sm.overflow-h
                %i.icon-custom.rounded-x.icon-sm.icon-bg-blue.fa.fa-trophy
                %span.text-left
                  \&#xD559;&#xC810;&#xB530;&#xAE30;
                  %small
                    %ul.list-inline.star-vote
                      - 1.upto(@lecture_info.av_get_grade/20) do |x|
                        %li
                          %i.color-green.fa.fa-star
                      - 1.upto(5 - @lecture_info.av_get_grade/20) do |y|
                        %li
                          %i.color-green.fa.fa-star-o
                    = @lecture_info.av_get_grade
                    \&#xC810;
            .col-sm-6
              %h3.heading-sm.overflow-h
                %i.icon-custom.rounded-x.icon-sm.icon-bg-blue.fa.fa-file-text
                %span.text-left
                  \&#xACFC;&#xC81C;  &#xC870;&#xBAA8;&#xC784;
                  %small
                    %ul.list-inline.star-vote
                      - 1.upto(@lecture_info.av_teamwork_n_asg/20) do |x|
                        %li
                          %i.color-green.fa.fa-star
                      - 1.upto(5 - @lecture_info.av_teamwork_n_asg/20) do |y|
                        %li
                          %i.color-green.fa.fa-star-o
                    = @lecture_info.av_teamwork_n_asg
                    \&#xC810;
      / Left Inner
      .col-md-7.col-md-pull-5
        .left-inner
          .row
            .col-md-6
              %h3 &#xAD50;&#xC218; &#xC815;&#xBCF4;
              .overflow-h
                %p.hex
                  \&#xC774;&#xB984; : #{@lecture_info.tname}
                %p
                  \&#xC18C;&#xC18D; :
                  %span.hex
                    = @lecture_info.belong
                -# %h5
                  = link_to "이력 경력 확인하기", @professor.intro_url, target: "_blank"
            .col-md-6
              %h3 &#xAC15;&#xC758; &#xC815;&#xBCF4;
              .overflow-h
                %p.hex
                  %strong
                    \&#xAC15;&#xC758;&#xBA85; : #{@lecture_info.name}
                %button.btn-u.btn-u-xs.rounded{class: "btn-u-#{@lecture_info.div_color}"}
                  = @lecture_info.l_type
              %p.hex
                \&#xAC1C;&#xC124;&#xD559;&#xAE30; : #{@lecture_info.semester}&#xD559;&#xAE30;
              %p.hex
                \&#xC2DC;&#xAC04; : #{@lecture_info.time}&#xAD50;&#xC2DC;
          %br
            / Bordered Funny Boxes
            - unless @lecture_estimates.nil?
              - @lecture_estimates.each do |esti|
                .funny-boxes.bg-color-white{class: "funny-boxes-top-#{@lecture_info.div_color}"}
                  %p.pull-right
                    = esti.created_at.year
                    \&#xB144; #{esti.created_at.month}&#xC6D4;
                  %h4
                    = esti.reason
                    \&#xC704;&#xD574; &#xC218;&#xAC15;&#xD588;&#xB358; &#xC120;&#xBC30;
                  .pull-right
                    %ul.list-unstyled.funny-boxes-rating
                      \&#xD3C9;&#xAC00; &#xC810;&#xC218; :
                      - 1.upto(esti.average/20) do |x|
                        %li
                          %i.fa.fa-star
                      - 1.upto(5 - esti.average/20) do |y|
                        %li
                          %i.fa.fa-star-o
                  - if esti.msg
                    %strong
                      %h4 &#xD6C4;&#xAE30;
                    %p= esti.msg.html_safe
                    %br
                    / 좋아요 / 싫어요
                    %ul.list-inline.badge-lists.badge-box-v1.margin-bottom-30.text-center
                      %li
                        = link_to like_lecture_info_lecture_estimate_path(@lecture_info, esti),id: "esti-like-btn-#{esti.id}", remote: true  do
                          %i.rounded-x.ti-heart.text-danger
                          %span.badge.badge-red.rounded-x= esti.get_upvotes.size
                      %li
                        = link_to dislike_lecture_info_lecture_estimate_path(@lecture_info, esti), id: "esti-dislike-btn-#{esti.id}", remote: true do
                          %i.rounded-x.ti-heart-broken
                          %span.badge.badge-gray.rounded-x= esti.get_downvotes.size
              / End Bordered Funny Boxes
          %center
            = link_to "강의평가 작성하기", new_lecture_info_lecture_estimate_path(@lecture_info), class: "btn-u btn-u-yellow"
      / End Left Inner
