<div class="block-description">
  <div class="container">
		<center>
			<%= link_to "강의평가 작성하기", new_lecture_info_lecture_estimate_path(@lecture_info), class: "btn-u btn-u-yellow margin-bottom-20" %>
		</center>
		<div class="row">
  		<!-- Right Inner -->
  		<div class="col-md-5 col-md-push-7">
  			<div class="right-inner">
          <!-- radar chart start-->
          <div class="alert alert-warning fade in alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<strong>주의!</strong><i> 학점따기, 과제 & 조모임의 경우 점수가 높을수록 수업듣기 편합니다.</i>
					</div>


          <h3 class='text-center'>
            강의 평가 평균
            &nbsp;<small><a href="#" id='display-inline'><%= @lecture_info.lecture_estimates.count %> reviews</a></small>
          </h3>
          <div class="content-boxes-v2 content-boxes-v2-o">
    				<h2 class="heading-sm overflow-h">
              <span>평점 :
                <ul class="list-inline star-vote" id='display-inline'>
                  <% 1.upto(@lecture_info.average/20) do |x| %>
                    <li><i class="color-green fa fa-star"></i></li>
                  <% end %>
                  <% 1.upto(5 - @lecture_info.average/20) do |y| %>
                    <li><i class="color-green fa fa-star-o"></i></li>
                  <% end %>
                </ul>
                <%= @lecture_info.average %>점
              </span>
            </h2>
          </div>
          <div class="row content-boxes-v2 content-boxes-v2-o">
            <div class="col-sm-6">
              <h3 class="heading-sm overflow-h">
    						<i class="icon-custom rounded-x icon-sm icon-bg-blue fa fa-music"></i>
    						<span class='text-left'>재미 & 흥미
                  <small>
          					<ul class="list-inline star-vote">
                      <% 1.upto(@lecture_info.av_fun/20) do |x| %>
                        <li><i class="color-green fa fa-star"></i></li>
                      <% end %>
                      <% 1.upto(5 - @lecture_info.av_fun/20) do |y| %>
                        <li><i class="color-green fa fa-star-o"></i></li>
                      <% end %>
          					</ul>
                    <%= @lecture_info.av_fun %>점
                  </small>
                </span>
    					</h3>
            </div>
            <div class="col-sm-6">
              <h3 class="heading-sm overflow-h">
    						<i class="icon-custom rounded-x icon-sm icon-bg-blue fa fa-graduation-cap"></i>
    						<span class='text-left'>
                  교수력
                  <small>
          					<ul class="list-inline star-vote">
                      <% 1.upto(@lecture_info.av_teaching/20) do |x| %>
                        <li><i class="color-green fa fa-star"></i></li>
                      <% end %>
                      <% 1.upto(5 - @lecture_info.av_teaching/20) do |y| %>
                        <li><i class="color-green fa fa-star-o"></i></li>
                      <% end %>
          					</ul>
                    <%= @lecture_info.av_teaching %>점
                  </small>
                </span>
    					</h3>
            </div>
          </div>
          <div class="row content-boxes-v2 content-boxes-v2-o">
            <div class="col-sm-6">
              <h3 class="heading-sm overflow-h">
    						<i class="icon-custom rounded-x icon-sm icon-bg-blue fa fa-trophy"></i>
    						<span class='text-left'>
                  학점따기
                  <small>
          					<ul class="list-inline star-vote">
                      <% 1.upto(@lecture_info.av_get_grade/20) do |x| %>
                        <li><i class="color-green fa fa-star"></i></li>
                      <% end %>
                      <% 1.upto(5 - @lecture_info.av_get_grade/20) do |y| %>
                        <li><i class="color-green fa fa-star-o"></i></li>
                      <% end %>
          					</ul>
                    <%= @lecture_info.av_get_grade %>점
                  </small>
                </span>
    					</h3>
            </div>
            <div class="col-sm-6">
              <h3 class="heading-sm overflow-h">
    						<i class="icon-custom rounded-x icon-sm icon-bg-blue fa fa-file-text"></i>
    						<span class='text-left'>
                  과제 & 조모임
                  <small>
          					<ul class="list-inline star-vote">
                      <% 1.upto(@lecture_info.av_teamwork_n_asg/20) do |x| %>
                        <li><i class="color-green fa fa-star"></i></li>
                      <% end %>
                      <% 1.upto(5 - @lecture_info.av_teamwork_n_asg/20) do |y| %>
                        <li><i class="color-green fa fa-star-o"></i></li>
                      <% end %>
          					</ul>
                    <%= @lecture_info.av_teamwork_n_asg %>점
                  </small>
                </span>
    					</h3>
            </div>
          </div>

          <hr>

          <canvas id="canvas" width="200" height="200"></canvas>
          <!-- radar chart end-->

          <hr>

          <h3>스탯 설명</h3>
          <!-- 스탯 설명 아코디언 start -->
          <div class="panel-group acc-v1" id="accordion-1">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One" aria-expanded="false">
										재미 & 흥미
									</a>
								</h4>
							</div>
							<div id="collapse-One" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
								<div class="panel-body">
                  <p>수업의 분위기를 평가하는 기준입니다.</p>
									<ul class="list-unstyled">
                    <li><i class="fa fa-check color-green"></i> 학생 참여도</li>
                    <li><i class="fa fa-check color-green"></i> 교수님의 유머</li>
                    <li><i class="fa fa-check color-green"></i> 수업 내용의 흥미 유발</li>
                  </ul>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two" aria-expanded="false">
										교수력
									</a>
								</h4>
							</div>
							<div id="collapse-Two" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
								<div class="panel-body">
									<p>강의를 들은 후에 배웠다는 느낌 등을 평가합니다.</p>
									<ul class="list-unstyled">
										<li><i class="fa fa-check color-green"></i> 수업내용의 퀄리티</li>
										<li><i class="fa fa-check color-green"></i> 학생들의 수준에 맞는 교수법</li>
									</ul>
								</div>
							</div>
						</div>
            <!-- 스탯 설명 아코디언 end -->

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three" aria-expanded="false">
										학점따기
									</a>
								</h4>
							</div>
							<div id="collapse-Three" class="panel-collapse collapse" aria-expanded="false">
								<div class="panel-body">
									<p>학점따기 쉬운 정도를 평가합니다. 높을수록 학점따기 쉽습니다.</p>
									<ul class="list-unstyled">
										<li><i class="fa fa-check color-green"></i> 점수에 상관없이 비율에 맞게 학점 배분</li>
										<li><i class="fa fa-check color-green"></i> 교수님의 관대함</li>
									</ul>
								</div>
							</div>
						</div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Five" aria-expanded="false">
                    과제 & 조모임
                  </a>
                </h4>
              </div>
              <div id="collapse-Five" class="panel-collapse collapse" aria-expanded="false">
                <div class="panel-body">
									<p>과제와 조모임의 쉬운 정도를 평가합니다. 높을수록 횟수가 적고 난이도가 쉽습니다.</p>
									<ul class="list-unstyled">
										<li><i class="fa fa-check color-green"></i> 조모임의 횟수, 난이도</li>
										<li><i class="fa fa-check color-green"></i> 과제의 횟수, 난이도</li>
									</ul>
                </div>
              </div>
            </div>
					</div>

  			</div>
  		</div>
  		<!-- End Right Inner -->

      <!-- Left Inner -->
  		<div class="col-md-7 col-md-pull-5">
  			<div class="left-inner">
          <div class='row'>
            <div class="col-md-6">
      				<h3>교수 정보</h3>
      				<div class="overflow-h">
      					<p class="hex">이름 : <%= @professor.name %> </p>
      					<p>소속 : <span class="hex"> <%= @professor.belong %> </span></p>
                <h5>
                  <%= link_to "이력 & 경력 확인하기", @professor.intro_url, target: "_blank" %>
                </h5>
              </div>
            </div>
            <div class="col-md-6">
      				<h3>강의 정보</h3>
      				<div class="overflow-h">
                <p class="hex">
                  <strong>
                    강의명 : <%= @lecture_info.name %>
                    <button class="btn-u btn-u-xs rounded btn-u-<%= @lecture_info.div_color %>"><%= @lecture_info.l_type %></button>
                  </strong>
                </p>
      					<p class="hex">개설학기 : <%= @lecture_info.semester %>학기</p>
      					<p class="hex">시간 : <%= @lecture_info.time %>교시</p>
      				</div>
            </div>
          </div>

					<br>

					<!-- Bordered Funny Boxes -->
					<% unless @lecture_estimates.nil? %>
			      <% @lecture_estimates.each do |esti| %>
			        <%#= link_to lecture_info_lecture_estimate_path(@lecture_info, esti) do %>
		    				<div class="funny-boxes funny-boxes-top-<%= @color_pick.sample %> bg-color-white">
                  <p class='pull-right'><%= esti.created_at.year %>년 <%= esti.created_at.month %>월</p>
		    					<h4><%= esti.reason %> 위해 수강했던 선배</h4>
									<div class='pull-right'>
										<ul class="list-unstyled funny-boxes-rating">
											평가 점수 :
			                <% 1.upto(esti.average/20) do |x| %>
			      						<li><i class="fa fa-star"></i></li>
			                <% end %>
			                <% 1.upto(5 - esti.average/20) do |y| %>
			    				      <li><i class="fa fa-star-o"></i></li>
			                <% end %>
			    					</ul>
									</div>
									<% if esti.msg %>
					  				<strong><h4>후기</h4></strong>
					  				<p><%= esti.msg.html_safe %></p>
										<br>
									<% end %>

                  <!-- 좋아요 / 싫어요 -->
                  <ul class="list-inline badge-lists badge-box-v1 margin-bottom-30 text-center">
                      <li>
                          <%= link_to like_lecture_info_lecture_estimate_path(@lecture_info, esti),id: "esti-like-btn-#{esti.id}", remote: true  do %>
                            <i class="rounded-x ti-heart text-danger"></i>
                            <span class="badge badge-red rounded-x"><%= esti.get_upvotes.size %></span>
                          <% end %>
                      </li>
                      <li>
                          <%= link_to dislike_lecture_info_lecture_estimate_path(@lecture_info, esti), id: "esti-dislike-btn-#{esti.id}", remote: true do %>
                            <i class="rounded-x ti-heart-broken"></i>
                            <span class="badge badge-gray rounded-x"><%= esti.get_downvotes.size %></span>
                          <% end %>
                      </li>
                  </ul>

		    				</div>
			        <%# end %>
			      <% end %>
					<% end %>
					<!-- End Bordered Funny Boxes -->

						<center>
							<%= link_to "강의평가 작성하기", new_lecture_info_lecture_estimate_path(@lecture_info), class: "btn-u btn-u-yellow" %>
						</center>
  			</div>
  		</div>
  		<!-- End Left Inner -->
  	</div>
  </div>
</div>
