<div class="bg-grey">
	<div class="container content-sm">
		<div class="row">
			<!-- Bordered Funny Boxes -->
      <% @lecture_estimates.each do |lecture_estimate| %>
        <%= link_to lecture_estimate do %>
    			<div class="col-md-10 col-md-offset-1">
    				<div class="funny-boxes funny-boxes-top-<%= @color_pick.sample %> bg-color-white">
    					<h2><%= lecture_estimate.lecture_info.name %> - <%= lecture_estimate.lecture_info.professor.name %> 교수님</h2>
    					<ul class="list-unstyled funny-boxes-rating">
                <% 1.upto(lecture_estimate.average/20) do |x| %>
      						<li><i class="fa fa-star"></i></li>
                <% end %>
                <% 1.upto(5 - lecture_estimate.average/20) do |y| %>
    				      <li><i class="fa fa-star-o"></i></li>
                <% end %>
    					</ul>
    					<p><%= lecture_estimate.tip %></p>
    				</div>
    			</div>
        <% end %>
      <% end %>
			<!-- End Bordered Funny Boxes -->
		</div>
	</div>
</div>

<table>
  <thead>
    <tr>
      <th>Average</th>
      <th>All view</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lecture_estimates.each do |lecture_estimate| %>
      <tr>
        <td><%= lecture_estimate.average %></td>
        <td><%= lecture_estimate.all_view %></td>
        <td><%= link_to 'Show', lecture_estimate %></td>
        <td><%= link_to 'Edit', edit_lecture_estimate_path(lecture_estimate) %></td>
        <td><%= link_to 'Destroy', lecture_estimate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lecture estimate', new_lecture_estimate_path %>
