.container.content
  .row.margin-bottom-30
    .col-md-7.mb-margin-bottom-30
      .headline
        %h2 강의 평가 작성하기
      %p 우측(데스크탑) 또는 하단(모바일)에 있는 규칙들을 충분히 숙지하시고 작성해주세요.
      %br/
      = bootstrap_form_for [@lecture_info, @lecture_estimate], html: {multipart: true, id: "sky-form3", class: "sky-form sky-changes-3 contact-style", novalidate: "novalidate"} do |f|
        - if @lecture_estimate.errors.any?
          #error_explanation
            %h2
              = pluralize(@post.errors.count, "error")
              prohibited this post from being saved:
            %ul
              - @lecture_estimate.errors.full_messages.each do |message|
                %li= message
        .row
          .col-md-4.col-md-offset-4.text-center
            = f.select(:reason, options_for_select([['학점', '학점'], ['흥미', '흥미'],['배움', '배움']]), label: "수강 이유" )
        %br/
        .row
          .col-md-3.text-center
            .br-theme-fontawesome-stars
              = f.select(:fun, options_for_select([['1', 20], ['2', 40],['3', 60],['4', 80],['5', 100]]),{label: "흥미 & 재미"}, class: "star-rating" )
          .col-md-3.text-center
            .br-theme-fontawesome-stars
              = f.select(:teaching, options_for_select([['1', 20], ['2', 40],['3', 60],['4', 80],['5', 100]]),{label: "교수력"}, class: "star-rating" )
          .col-md-3.text-center
            .br-theme-fontawesome-stars
              = f.select(:get_grade, options_for_select([['1', 20], ['2', 40],['3', 60],['4', 80],['5', 100]]),{label: "학점따기"}, class: "star-rating" )
          .col-md-3.text-center
            .br-theme-fontawesome-stars
              = f.select(:teamwork_n_asg, options_for_select([['1', 20], ['2', 40],['3', 60],['4', 80],['5', 100]]),{label: "과제 & 조모임"}, class: "star-rating" )
        .row
          = f.text_area :msg, class: "redactor", label: "후기"
        %footer.text-center
          = f.submit "작성하기", class: "btn-u btn-u-lg"
        .message
          %i.rounded-x.fa.fa-check
          %p Your message was successfully sent!
    / /col-md-9
    .col-md-5
      .headline
        %h2 커뮤니티 매너
      %p 아래의 기본적인 예의를 지켜주세요.
      %ul.list-unstyled.margin-bottom-30
        %li
          %i.fa.fa-check.color-green
          = succeed "\u{b97c}" do
            %strong 예의
        %li
          %i.fa.fa-check.color-green
          상대를
          = succeed "\u{d574}\u{c8fc}\u{c138}\u{c694}." do
            %strong 존중
        %li
          %i.fa.fa-check.color-green
          타인을 지칭할 때
          = succeed "\u{c73c}\u{b85c}" do
            %strong ***님
    / /col-md-3
  / /row
