<div class="block-description">
  <div class="container">
  	<!-- <div class="title-box-v2">
  		<h2>강의 이름</h2>
  		<p>전공 or 교양</p>
  	</div> -->

  	<div class="row">
  		<!-- Right Inner -->
  		<div class="col-md-5 col-sm-push-7">
  			<div class="right-inner">
  				<h3>교수 정보</h3>
  				<img src="assets/img/testimonials/img1.jpg" alt="">
  				<div class="overflow-h">
  					<span class="font-s">김수경</span>
  					<p class="color-green">담당: <span class="hex">국제학부</span></p>
  				</div>

          <ul class="list-unstyled save-job">
            <li>이력1</li>
            <li>이력2</li>
            <li>이력3</li>
            <li>이력4</li>
          </ul>

  				<hr>

          <!-- radar chart -->
          <canvas id="canvas" width="400" height="400"></canvas>

  				<hr>

  				<h3>Overview</h3>
  				<div class="row">
  					<!-- Overview -->
  					<div class="col-sm-6">
  						<div class="overview">
  							<i class="fa fa-user"></i>
  							<div class="overflow-h">
  								<small>Followers</small>
  								<small>2,1k</small>
  								<div class="progress progress-u progress-xxs">
  									<div style="width: 92%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar" class="progress-bar progress-bar-u">
  									</div>
  								</div>
  							</div>
  						</div>
  					</div>
  					<!-- End Overview -->

  					<!-- Overview -->
  					<div class="col-sm-6">
  						<div class="overview">
  							<i class="fa fa-share"></i>
  							<div class="overflow-h">
  								<small>VieSharews</small>
  								<small>749k</small>
  								<div class="progress progress-u progress-xxs">
  									<div style="width: 77%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="77" role="progressbar" class="progress-bar progress-bar-u">
  									</div>
  								</div>
  							</div>
  						</div>
  					</div>
  					<!-- End Overview -->
  				</div>

  				<div class="row margin-bottom-20">
  					<!-- Overview -->
  					<div class="col-sm-6">
  						<div class="overview">
  							<i class="fa fa-eye"></i>
  							<div class="overflow-h">
  								<small>Views</small>
  								<small>15,7k</small>
  								<div class="progress progress-u progress-xxs">
  									<div style="width: 88%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="88" role="progressbar" class="progress-bar progress-bar-u">
  									</div>
  								</div>
  							</div>
  						</div>
  					</div>
  					<!-- End Overview -->

  					<!-- Overview -->
  					<div class="col-sm-6">
  						<div class="overview">
  							<i class="fa fa-group"></i>
  							<div class="overflow-h">
  								<small>Opportunity Views</small>
  								<small>202,8k</small>
  								<div class="progress progress-u progress-xxs">
  									<div style="width: 76%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="76" role="progressbar" class="progress-bar progress-bar-u">
  									</div>
  								</div>
  							</div>
  						</div>
  					</div>
  					<!-- End Overview -->
  				</div>
  			</div>
  		</div>
  		<!-- End Right Inner -->
      <!-- Left Inner -->
  		<div class="col-md-7 col-sm-pull-5">
  			<div class="left-inner">
  				<h3>강의 이름</h3>
  				<a href="#"><i class="position-top fa fa-print"></i></a>
  				<div class="overflow-h">
  					<p class="hex">전공 OR 교양</p>
  					<ul class="list-inline star-vote">
  					강의 평점
              <li><i class="color-green fa fa-star"></i></li>
  						<li><i class="color-green fa fa-star"></i></li>
  						<li><i class="color-green fa fa-star"></i></li>
  						<li><i class="color-green fa fa-star-half-o"></i></li>
  						<li><i class="color-green fa fa-star-o"></i></li>
  					</ul>
  					<span><a href="#">34 reviews</a></span>
  				</div>

  				<hr>

  				<div class="progression">
  					<span>Revenue</span>
  					<div class="progress progress-u progress-xs">
  						<div style="width: 88%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="88" role="progressbar" class="progress-bar progress-bar-u">
  						</div>
  					</div>

  					<span>Staff Salaries</span>
  					<div class="progress progress-u progress-xs">
  						<div style="width: 76%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="76" role="progressbar" class="progress-bar progress-bar-u">
  						</div>
  					</div>

  					<span>Possibility of Dismissial</span>
  					<div class="progress progress-u progress-xs">
  						<div style="width: 97%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="97" role="progressbar" class="progress-bar progress-bar-u">
  						</div>
  					</div>
  				</div>

  				<hr>

  				<h2>Job Description</h2>
  				<p>This job was a great job for the pay and benefits when compared to waiting table and working fast food. I also preferred working for the vs other stores like . The biggest problem was unreasonable expectations from management. Even as one of there top employees you feel taken advantage of and over worked. Dealing with the customers was the other issue.</p>

  				<hr>

  			</div>
  		</div>
  		<!-- End Left Inner -->
  	</div>
  </div>
</div>
<p>
  <strong>Reason:</strong>
  <%= @lecture_estimate.reason %>
</p>

<p>
  <strong>Average:</strong>
  <%= @lecture_estimate.average %>
</p>

<p>
  <strong>Fun:</strong>
  <%= @lecture_estimate.fun %>
</p>

<p>
  <strong>Teaching:</strong>
  <%= @lecture_estimate.teaching %>
</p>

<p>
  <strong>Get grade:</strong>
  <%= @lecture_estimate.get_grade %>
</p>

<p>
  <strong>Grade nego:</strong>
  <%= @lecture_estimate.generous %>
</p>

<p>
  <strong>Male view:</strong>
  <%= @lecture_estimate.male_view %>
</p>

<p>
  <strong>Female view:</strong>
  <%= @lecture_estimate.female_view %>
</p>

<p>
  <strong>All view:</strong>
  <%= @lecture_estimate.all_view %>
</p>

<p>
  <strong>Tip</strong>
  <%= @lecture_estimate.tip %>
</p>

<%= link_to 'Edit', edit_lecture_estimate_path(@lecture_estimate) %> |
<%= link_to 'Back', lecture_estimates_path %>
