<% if user_signed_in? %>
  <%= link_to '새 일정 만들기', new_meeting_path if can? :create, @meetings %>
<% end %>

<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date.day %>

  <% meetings.each do |meeting| %>
    <div>
      <%= link_to meeting_path(meeting) do %>
      <div class="contex-bg">
        <p class="bg-<%= meeting.type_class %> rounded">
           <%= meeting.display_tag %>
        </p>
      </div>
      <% end %>
    </div>
  <% end %>
<% end %>