<!--=== Content Part ===-->
<div class="container-fluid">
	<div class="row equal-height-columns">
		<div class="col-md-6 col-sm-6 hidden-xs equal-height-column" style='background-image: url(<%= image_url "cat.jpg" %>); background-position: center; background-repeat: no-repeat; background-size: cover;'>
		  <div class='row image-block' style="background: none rgba(255, 255, 255, 0.6);">
		    <div class='col-md-offset-2 col-md-8'>
    		  <div class="headline"><h2>운영자 규칙</h2></div>
    			<p>아래의 규칙은 운영자가 반드시 지킬 규칙입니다.</p>
    			<ul class="list-unstyled margin-bottom-30">
    				<li><i class="fa fa-check color-green"></i> 사용자에게 중요한 <strong>개인정보</strong>는 받지도 않겠습니다.</li>
    				<li><i class="fa fa-check color-green"></i> 광고로 <strong>영리추구</strong>를 하지 않겠습니다.</li>
    				<li><i class="fa fa-check color-green"></i> 단국인들이 <strong>원하는 서비스</strong>를 개발하겠습니다.</li>
    				<li><i class="fa fa-check color-green"></i> 단국인들의 <strong>학교생활에 도움이 되는 서비스</strong>를 개발하겠습니다.</li>
    			</ul>
    			
    			<!-- 규칙 -->
    			<div class="headline"><h2>커뮤니티 규칙</h2></div>
    			<p>아래의 규칙을 어기는 글은 삭제되며 작성자는 최소 1년 동안 서비스 이용이 정지됩니다.</p>
    			<ul class="list-unstyled margin-bottom-30">
    				<li><i class="fa fa-check color-green"></i> 다른 학생의 <strong>실명</strong>을 언급하지 마세요.</li>
    				<li><i class="fa fa-check color-green"></i> 다른 학생을 비난하기 위해 <strong>묘사</strong>하셔도 안됩니다.</li>
    				<li><i class="fa fa-check color-green"></i> 누구에게든 <strong>반말</strong>을 금지합니다.</li>
    				<li><i class="fa fa-check color-green"></i> 다른 학생에 대한 <strong>인신공격, 비속어 사용</strong> 등을 금지해주세요.</li>
    			</ul>
    			
    			<!-- 매너 -->
    			<div class="headline"><h2>커뮤니티 매너</h2></div>
    			<p>아래의 기본적인 예의를 지켜주세요.</p>
    			<ul class="list-unstyled margin-bottom-30">
    				<li><i class="fa fa-check color-green"></i> <strong>예의</strong>를 지켜주세요.</li>
    				<li><i class="fa fa-check color-green"></i> 상대를 <strong>존중</strong>해주세요.</li>
    				<li><i class="fa fa-check color-green"></i> 타인을 지칭할 때 <strong>***님</strong>으로 불러주세요.</li>
    			</ul>
    		</div>
  		</div>
		</div>

		<div class="col-md-6 col-sm-6 form-block equal-height-column">
			<h2 class="margin-bottom-30">Login To Your Account</h2>
			<%= form_for(resource, as: resource_name, url: session_path(resource_name) ) do |f| %>
				<div class="login-block">
			    	<div class="social-login text-center">
						<ul class="list-inline margin-bottom-20">
							<li>
								<button class="btn rounded btn-lg btn-block btn-rss">
									<strong>Kakao Talk</strong> Sign in
								</button>
							</li>
							<li>
								<button class="btn rounded btn-lg btn-facebook">
									<i class="fa fa-facebook"></i> Facebook Sign in
								</button>
							</li>
						</ul>
						<p>Don't have an account? <a href="page_registration2.html">Create New</a></p>
					</div>
					<div class="input-group margin-bottom-20">
						<span class="input-group-addon rounded-left"><i class="icon-user color-blue"></i></span>
						<%= f.text_field :login, class: "form-control rounded-right", placeholder: "닉네임" %>
					</div>

					<div class="input-group margin-bottom-20">
						<span class="input-group-addon rounded-left"><i class="icon-lock color-blue"></i></span>
						<%= f.password_field :password, class: "form-control rounded-right", placeholder: "비밀번호" %>
					</div>

          <% if devise_mapping.rememberable? -%>
  					<div class="checkbox">
  						<ul class="list-inline">
  							<li>
  								<label>
                    <%= f.check_box :remember_me %> 아이디 기억하기
  								</label>
  							</li>
  
  							<li class="pull-right">
  							  <%= link_to "비밀번호 찾기", new_user_password_path %>
  							</li>
  						</ul>
  					</div>
          <% end -%>

					<div class="row margin-bottom-20">
						<div class="col-md-12">
						  <%= f.submit "로그인", class: "btn-u btn-u-blue btn-block rounded" %>
						</div>
					</div>
					
					<div class="row margin-bottom-20">
						<div class="col-md-12">
						<%= link_to "회원가입", new_user_registration_path , class: "btn-u btn-u-aqua btn-block rounded" %>
						</div>
					</div>

				</div>
			<% end %>
		</div>
	</div>
</div><!--/container-->
<!--=== End Content Part ===-->