<% @rehearsal_lectures.each do |rehearsal_lectures| %>
  <tr style="cursor: pointer;" class="rehearsal_click" data-value="<%= rehearsal_lectures.id %>">
    <td class="left_line ta_c numbering"><%= rehearsal_lectures.lnum %></td>
    <td class="ta_c"><%= rehearsal_lectures.divide %></td>
    <td class="ta_l"><%= rehearsal_lectures.name %></td>
    <td class="ta_c"><%= rehearsal_lectures.score %></td>
    <td class="ta_c"><%= rehearsal_lectures.teacher %></td>
    <td class="ta_l"><%= rehearsal_lectures.ldate %></td>
    <td class="ta_c"><%= rehearsal_lectures.counting %></td>
    <td class="ta_c"><%= rehearsal_lectures.limit_num %></td>
    <td class="ta_c"> </td>
  </tr>
<% end %>
<script>
  $(document).ready(function(){
    // var = lnum, divide, name, score, teacher, ldate, counting, limit_num;
    var rehearsal = [];
    var data_value;
    var rehearsal_user_id = location.pathname.split("/")[2];
    $(".rehearsal_click").click(function(){
      $(this).find("td").each(function(){
        rehearsal.push( $(this).text() );
      });
      var data_value = $(this).data("value");
      $.ajax({
        method: "POST",
        url: "/rehearsal_users/" + rehearsal_user_id + "/rehearsal_lectures",
        data: {
          lnum: rehearsal[0], divide: rehearsal[1], name: rehearsal[2],
          score: rehearsal[3], teacher: rehearsal[4], ldate: rehearsal[5],
          limit_num: rehearsal[6], data_value: data_value
        },
        complete: function(){
          alert(rehearsal[2] + " 수업 접수에 접수했습니다.");
          location.reload();
        }
        // success: function(){
        //   alert(rehearsal[2] + " 수업 접수에 접수했습니다.");
        // },
        // error:function(request,status,error){
        //   alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        // }
      });
    });
  });
</script>
