.row
  .bg-color-light
    .container.content-sm
      .headline-center
        %h2 온라인 신청 TEST
        - if current_user.present? && current_user.major.present? && current_user.major.locker_start_time.present?
          %p{data: {open: current_user.major.locker_start_time.strftime("%Y/%m/%d %H:%M:%S")}}
            = "#{current_user.major.name} 사물함 신청"
        - else
          사물함 신청 페이지입니다.
        #getting-started
          %p
        %p{style: "width:200px;background-color:white;margin:auto;padding:20px 0px;"}
          테스트용 계정
          %br
          ID: 테스트
          %br
          PW: 12341234
        :javascript
          $(document).ready(function(){
            var getStartTime = $("[data-open]").data("open");
            $("#getting-started p").countdown(getStartTime, function(event) {
              $(this).text(
                event.strftime('D - %D일 %H:%M:%S')
              );
            });
          });
      .testimonials-v6.testimonials-wrap
        .row.margin-bottom-50
          .col-xs-6.col-md-6.col-lg-6.text-center
            = link_to(used_books_path) do
              = image_tag "locker_book/books.png", class: "center-block img-responsive img-circle hoverable hover_blue"
            = link_to(used_books_path) do
              %h4 중고책 대여 신청
          .col-xs-6.col-md-6.col-lg-6.text-center
            = link_to(index_lockers_path) do
              = image_tag "locker_book/lockers.png", class: "center-block img-responsive img-circle hoverable hover_blue"
            = link_to(index_lockers_path) do
              %h4 사물함 신청
