
<div class='text-center'>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>
<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12 text-center">


    <table id="table" border="0">
      <tr>
        <td align="center" colspan="6"><div class="numbers" id="count2" style="padding: 10px; "></div></td>
      </tr>

        <tr id="spacer1">

          <%# if current_user.nil? %>
            <td align="center" class="title">
              <p>사물함 대여 사업은</p>
            </td>
            <td align="right" ><div class="numbers" id="dday"></div></td>
            <td align="center" class="title" style="width:30px;"><p>일</p></td>
            <td align="right" ><div class="numbers" id="dhour"></div></td>
            <td align="center" class="title" style="width:60px;"><p>시간</p></td>
            <td align="right" ><div class="numbers" id="dmin"></div></td>
            <td align="center" class="title" style="width:30px;"><p>분</p></td>
            <td align="right" ><div class="numbers" id="dsec"></div></td>
            <td align="center" class="title" style="width:30px;"><p>초</p></td>
            <td align="center" class="title"><p>&nbsp;후에 열립니다.</p></td>
            <td align="center">
              &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to("/home/index") do %><%= image_tag("refresh.png", width: "40") %> <% end %>
            </td>
         <!--<%# else %>-->
         <!--   <td align="center" class="title">-->
         <!--     <p>국제학부 책 대여 & 사물함 프로젝트에 오신 것을 환영합니다~!</p>-->
         <!--   </td>-->
         <!-- <%# end %>-->
        </tr>
        <!--
        <tr id="spacer2">
            <td align="center" ></td>
            <td align="center" ><div class="title" id="days">Days</div></td>
            <td align="center" ><div class="title" id="hours">Hours</div></td>
            <td align="center" ><div class="title" id="minutes">Minutes</div></td>
            <td align="center" ><div class="title" id="seconds">Seconds</div></td>
            <td align="center" ><div class="title" ></div></td>
        </tr>
        -->
    </table>

  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-6 col-lg-6 text-center" id="book_button">
    <%= link_to(index_lockers_path) do %><%= image_tag "locker_book/books.png", class: "center-block img-responsive img-circle hoverable" %> <% end %>
    <%= link_to(index_lockers_path) do %><h4>중고책 대여 신청</h4><%end %>
  </div>

  <div class="col-xs-6 col-md-6 col-lg-6 text-center" id="locker_button">
    <%= link_to(index_lockers_path) do %> <%= image_tag "locker_book/lockers.png", class: "center-block img-responsive img-circle hoverable" %><% end %>
    <%= link_to(index_lockers_path) do %><h4>사물함 신청</h4><% end %>
  </div>
</div>
