%br
.row
  .col-sm-offset-4.col-sm-4.col-xs-10.col-xs-offset-1
    %ul.pager
      %li.previous
        = link_to "홈으로 가기", home_lockers_path, class: "rounded", method: "get"
      %li.next
        = link_to "우리 학과 현황", result_lockers_path, class: "rounded"
    .panel.panel-green
      .panel-heading
        %h3.panel-title
          %strong
            %i.fa.fa-tasks
            현재 정보
      %table#locker.table
        %tbody
          %tr
            %td 성명
            %td= current_user.name
          %tr
            %td 소속
            %td= current_user.major.name
          %tr
            %td 신청 번호
            %td= current_user.lcounting
          %tr
            %td 사물함 갯수
            %td= current_user.major.locker.limit_num
          %tr
            %td 보유 사물함
            - if current_user.lcounting.nil? && current_user.major.locker.limit_num < current_user.major.locker.counting
              %td.red 불가
            - elsif current_user.lnum
              %td.red= current_user.lnum
            - else
              %td 미정

    .row.text-center
      .col-sm-12
        - flash.each do |key, value|
          .alert.fade.in.alert-dismissable.locker-alert{:class => "alert-#{key}"}
            %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
            %strong= value
        - if current_user.lcounting.nil? && current_user.major.locker.limit_num > current_user.major.locker.counting
          .form-group
            = link_to first_check_lockers_path, method: "post" do
              = button_tag "1차 접수하기", class: "btn-u"
        - elsif !current_user.lcounting.nil? && current_user.lnum == 0
          .form-group
            = link_to  selecting_page_lockers_path, class: "form-group" do
              = button_tag "사물함 고르기", class: "btn-u btn-u-green"
        - elsif current_user.lcounting.nil? || current_user.lcounting > @our_locker.limit_num

        - else
          .form-group
            = link_to destroy_lockers_path, method: 'post' do
              = button_tag "반납 & 다시 고르기", class: "btn-u btn-u-yellow"
