.container
  .row
    .col-sm-offset-4.col-sm-4
      %ul.pager
        %li.previous
          = link_to "홈으로 가기", home_lockers_path, class: "rounded", method: "get"
        %li.next
          = link_to '사물함 현황 다운로드', result_lockers_path(format: "xlsx"), class: "rounded"
      .panel.panel-green.margin-bottom-40
        .panel-heading
          %h3.panel-title
            %i.fa.fa-tasks
            = current_user.major.name
            학과 사물함 현황
        %table.table
          %thead
            %tr
              %th.text-center 사물함 번호
              %th.text-center 이름
          %tbody
            - @user_major_locker.each do |user|
              %tr
                %td.text-center= user.lnum
                %td.text-center
                  - if user.present?
                    - if user.name.present?
                      = user.name
                    - else
                      = user.username
                  - else
                    = "미정"
