<div class="bg-grey">
	<div class="container content-sm">
			<!-- Bordered Funny Boxes -->
    <% @lecture_infos.each do |info| %>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<%= link_to lecture_info_lecture_estimates_path(info) do %>
    				<div class="funny-boxes funny-boxes-top-<%= @color_pick.sample %> bg-color-white">
    					<h2><%= info.name %> - <%= info.professor.name %> 교수님</h2>
							<ul class="list-inline comment-list-v2 pull-left block-grid-v1-add-inf">
								<li><i class="fa fa-eye"></i> <%= info.all_view %></li>
								<li><i class="fa fa-comments"></i> <%= info.lecture_estimates.count %></li>
							</ul>
							<ul class="list-inline funny-boxes-rating pull-right">
                <% 1.upto(info.average/20) do |x| %>
      						<li><i class="color-green fa fa-star"></i></li>
                <% end %>
                <% 1.upto(5 - info.average/20) do |y| %>
    				      <li><i class="color-green fa fa-star-o"></i></li>
                <% end %>
    					</ul>
							<br>
							<br>
							<div>
    						<p>평소 수업이 널널하고 출석에 신경을 안쓰심 앞 타임 시험이랑 뒷타임 시험이랑 문제가 똑같음 막걸리와 파전을 좋아하심</p>
							</div>
						</div>
		      <% end %>
				</div>
			</div>
    <% end %>
		<!-- End Bordered Funny Boxes -->
	</div>
</div>
