<% @post.comments.each do |comment| %>
<div class="media">
  <a class="pull-left" href="#">
   <div class="avatar">
    <%= image_tag current_user.photo ? current_user.photo : "placeholder.jpg" %>
   </div>
  </a>
  <div class="media-body">
    <h5 class="media-heading"><%= comment.user.username %></h5>
    <div class="pull-right">
        <h6 class="text-muted"><%= timeago_tag comment.created_at %></h6>
        <!-- <a href="#" class="btn btn-info btn-simple pull-right "> <i class="fa fa-reply"></i> Reply</a> -->
    </div>
    <p><%= comment.content %></p>

    <div class="media-footer">
      <%= link_to like_board_post_comment_path(@board, @post, comment), class: "btn btn-danger btn-simple",id: "comment-like-btn-#{comment.id}" , remote: true  do %>
         <i class="ti-heart"></i> <span><%= comment.get_upvotes.size %></span>
      <% end %>
      <%= link_to dislike_board_post_comment_path(@board, @post, comment), class: "btn btn-simple",id: "comment-dislike-btn-#{comment.id}" , remote: true do %>
         <i class="ti-heart-broken"></i> <span><%= comment.get_downvotes.size %></span>
      <% end %>
  <!--덧글 수정 및 삭제-->
      <% if current_user == comment.user %>
      <!--수정버튼-->
        <a style='cursor:pointer' id="posts-comment-toggle<%=comment.id%>" >

          <script>
            $('#posts-comment-toggle<%=comment.id%>').click(function(){
              var toggle = $('#comment-toggle<%=comment.id%>');
              if( toggle.is(':hidden') ){
                  toggle.slideDown();
              } else {
                  toggle.slideUp();
              }
            });
          </script>

          <button class="btn btn-icon btn-sm btn-warning btn-fill" rel="tooltip" title="수정하기">
            <i class="fa fa-edit"></i>
          </button>
        </a>

        <!--삭제버튼-->
        <% if can? :destroy, comment %>
          <%= link_to comment, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <button class="btn btn-icon btn-sm btn-danger btn-fill" rel="tooltip" title="삭제하기">
              <i class="fa fa-times"></i>
            </button>
          <% end %>
        <% end %>
        <!--수정 폼-->
        <% if can? :update, comment %>
          <div class="media media-post" id='comment-toggle<%=comment.id%>' style='display: none;'>
            <div class="media-body">
              <%= form_for [comment] do |f|%>
                  <%= f.text_area :content, :rows => 4, class: "form-control", placeholder: "예의 있게 써주세요"  %>
                </p>
                <p><%= f.submit "수정하기",class: "btn btn-info btn-fill btn-wd pull-right" %></p>
              <% end %>
            </div>
           </div> <!-- end media-post -->
        <% end %>
      </div>
    <% end %>
  </div>
</div> <!-- end media -->
<% end %>
