  <% @post.comments.each do |comment| %>
    <div class="media">
      <a class="pull-left" href="#">
       <div class="avatar">
            <%= image_tag "placeholder.jpg",class: "media-object" %>
       </div>
      </a>
      <div class="media-body">
        <h5 class="media-heading"><%= comment.user.username %></h5>
        <div class="pull-right">
            <h6 class="text-muted"><%= comment.created_at %></h6>
            <a href="#" class="btn btn-info btn-simple pull-right "> <i class="fa fa-reply"></i> Reply</a>
        </div>
        <p><%= comment.content %></p>
      
        <div class="media-footer">
          <span href="#" class="btn btn-danger btn-simple">
               <i class="ti-heart"></i> 243
          </span>
          <span href="#" class="btn btn-simple">
               <i class="ti-heart-broken"></i> 2
          </span>
      <!--댓글 수정 및 삭제-->
          <% if current_user == comment.user %>
          <!--수정버튼-->
            <a style='cursor:pointer' id="posts-comment-toggle<%=comment.id%>" >
            
              <script>
          			$('#posts-comment-toggle<%=comment.id%>').click(function(){
          				var toggle = $('#comment-toggle<%=comment.id%>');
          				if( toggle.is(':hidden') ){
          						toggle.slideDown();
          				} else {
          						toggle.slideUp();
          				}
          			});
          		</script>
          		
              <button class="btn btn-icon btn-sm btn-warning btn-fill" rel="tooltip" title="Edit Profile">
                <i class="fa fa-edit"></i>
              </button>
            </a>
          <!--삭제버튼-->
            <%= link_to comment, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <button class="btn btn-icon btn-sm btn-danger btn-fill" rel="tooltip" title="Edit Profile">
                <i class="fa fa-times"></i>
              </button>
            <% end %>
          <!--수정 폼-->
            <div class="media media-post" id='comment-toggle<%=comment.id%>' style='display: none;'>
              <div class="media-body">
                <%= form_for [comment], method: :put do |f|%>
                  <p>
                    <%= f.label :content, "수정하기" %><br />
                    <%= f.text_area :content, :rows => 4, class: "form-control", placeholder: "예의 있게 써주세요"  %>
                  </p>
                  <p><%= f.submit "수정하기",class: "btn btn-info btn-fill btn-wd pull-right" %></p>
                <% end %>
              </div>
             </div> <!-- end media-post -->
          </div>
        <% end %>
      <!--대댓글 작성-->
      <div class="media media-post">
        <a class="pull-left author" href="#">
          <div class="avatar">
            현재 유저의 이미지
            <img class="media-object" alt="64x64" src="assets/img/chet_faker_2.jpg">
          </div>
        </a>
        <div class="media-body">
          <%= form_for @comment, method: :put do |f|%>
            <%= f.hidden_field :parent_id %>
            <p>
              <%= f.label :content, "댓글달기" %><br />
              <%= f.text_area :content, :rows => 4, class: "form-control", placeholder: "예의 있게 써주세요"  %>
            </p>
            <p><%= f.submit "Post Message",class: "btn btn-info btn-fill btn-wd pull-right" %></p>
          <% end %>
        </div>
      </div>
           
    </div>
  </div> <!-- end media -->
  <% end %> 