<div class="container">
  <div class="row">
      <div class="col-md-10 col-md-offset-1">
          <p id="notice"><%= notice %></p>
          <!-- 도구바 Start -->
          <div id="navbar-warning" class='card'>
            <nav class="navbar content tag-box tag-box-v7">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  
                  <%= link_to "board_posts_path(@board)", class: "navbar-brand text-info" do%>
                    <strong><%= @board.name %></strong>
                  <% end %>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <div class="navbar-form navbar-right">
                    <%= link_to new_board_post_path, class: "btn-u btn-sm hover btn-u-yellow" do %>
                      <i class='fa fa-pencil'></i> 새 글쓰기
                    <% end %>
                  </div>
                  <%= form_tag board_posts_path(@board), :method => 'get', class: "navbar-form navbar-right", role: "search" do %>
                    <div class="input-group">
                      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
          						<span class="input-group-btn">
                        <%= button_tag type: "submit" , class: "btn-u" do %>
                          <i class='fa fa-search'></i>
                        <% end %>
                      </span>
                    </div>
                  <% end %>
                  
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
        </div>
        <!-- 도구바 End -->

        <div class="table-responsive">
          <div id='table'>
  		      <%= render "table" %>
          </div>
          <!-- paginate Start -->
          <center>
            <%= paginate @posts, remote: true %>
          </center>
          <!-- paginate END-->
        </div>
      </div>
  </div>
</div>