.bg-color-light
  .container.content-sm
    .row
      .col-md-10.col-md-offset-1
        %center
          %p#notice= notice
        / News v3
        = link_to @board.name, board_posts_path(@board), class: "btn-u btn-u-lg"
        .news-v3.bg-color-white.margin-bottom-30
          .news-v3-in.clearfix.row
            .col-sm-3.shadow-wrapper.col-md-2.text-center
              .box-shadow.shadow-effect-2.rounded-2x.col-xs-8.col-sm-12
                = image_tag current_user.profile.nil? ? current_user.profile : "placeholder.jpg", class: "img-responsive rounded-2x img-bordered"
              %h3= @post.user.username
              - if can? :update, @post
                / 수정버튼
                = link_to edit_board_post_path(@post.board, @post) do
                  %button.btn-u.btn-brd.btn-brd-hover.rounded-4x.btn-u-orange{:rel => "tooltip", :title => "수정하기"}
                    %i.fa.fa-edit
              - if can? :destroy, @post
                / 삭제버튼
                = link_to board_post_path(@post.board, @post), method: :delete, data: { confirm: '정말로 삭제하시겠습니까?' } do
                  %button.btn-u.btn-brd.btn-brd-hover.rounded-4x.btn-u-red{:rel => "tooltip", :title => "삭제하기"}
                    %i.fa.fa-trash-o
            .col-sm-9.col-md-10
              %center
                %h3.title= @post.title
                %h6.title-uppercase= timeago_tag @post.created_at
              / 태그출력
              .margin-bottom-5.text-center
                - @post.tag_list.each do |x|
                  %span{:class => "label rounded label-#{@samples.sample} margin-right-5"}
                    %i.fa.fa-tags
                    = x
              / 글 출력
              %br
              .redactor-text
                = @post.content.html_safe
              / 좋아요 / 싫어요
              %ul.list-inline.badge-lists.badge-box-v1.margin-bottom-30.text-center
                %li
                  = link_to like_board_post_path(@board, @post), id: "like-btn", remote: true  do
                    %i.rounded-x.ti-heart.text-danger
                    %span.badge.badge-red.rounded-x= @post.get_upvotes.size
                %li
                  = link_to dislike_board_post_path(@board, @post), id: "dislike-btn", remote: true do
                    %i.rounded-x.ti-heart-broken
                    %span.badge.badge-gray.rounded-x= @post.get_downvotes.size
        / End News v3
        %hr/
        / Blog Comments
        #ajax_comment
          = render "posts/comments/comment"
        = render "posts/comments/form"
= render "posts/common_components/table"
