<div class="wrapper blog">
    <div class="main">
        <div class="section section-white">
            <div class="container">
                <div class="article">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="text-center">
                                <p id="notice"><%= notice %></p>
                                <span class="label label-warning"><%= @board.name %></span>
                                <h3 class="title"><%= @post.title %></h3>
                                <h6 class="title-uppercase"><%= @post.created_at %></h6>
                                <% if @post.user == current_user %>
                                  <!--수정버튼-->
                                    <%= link_to edit_board_post_path(@post.board, @post) do %>
                                      <button class="btn btn-icon btn-sm btn-warning btn-fill" rel="tooltip" title="Edit Profile">
                                        <i class="fa fa-edit"></i>
                                      </button>
                                    <% end %>
                                    <!--삭제버튼-->
                                    <%= link_to board_post_path(@post.board, @post), method: :delete, data: { confirm: 'Are you sure?' } do %>
                                      <button class="btn btn-icon btn-sm btn-danger btn-fill" rel="tooltip" title="Edit Profile">
                                        <i class="fa fa-times"></i>
                                      </button>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="article-image text-center">
                                <div class="card-big-shadow">
                                    <div class="card" style="background-image: url('<%= image_path "cat.jpg" %>');">                                                                                    
                                    </div> <!-- end card -->
                                </div>
                                <p class="image-thumb"><%= @post.user.username %> website front page</p>
                            </div>
                            <div class="article-content text-center">
                                <p>
                                 <%= @post.content %>
                                </p>
                            </div>
                            <div class="media-footer">
                                <a href="#" class="btn btn-danger btn-simple">
                                     <i class="ti-heart"></i> 243
                                </a>
                                <a href="#" class="btn btn-simple">
                                     <i class="ti-heart-broken"></i> 2
                                </a>
                                <a href="#" class="btn btn-simple">
                                     view · 3
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-2">
                        <div class="pull-left">
                            <button class="btn btn-info btn-move-left"><i class="fa fa-angle-left"></i> 이전 글</button>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-3">
                        <div class="text-center">
                            <%= link_to board_posts_path do %>
                                <button class="btn btn-info btn-magnify">목록으로 <i class="fa fa-list-alt" aria-hidden="true"></i></button>
                            <% end %>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-3">
                        <div class="pull-right">
                            <button class="btn btn-info btn-move-right">다음 글 <i class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        
    </div>
</div>




<!--댓글-->
<div class="wrapper">
    <div class="main">
        <div class="section">
            <div class="container container-tim">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="media-area">
                            <h3>댓글 · 10</h3>
                            <div class="media">
                                  <a class="pull-left" href="#">
                                   <div class="avatar">
                                        <%= image_tag "placeholder.jpg",class: "media-object" %>
                                   </div>
                                  </a>
                                  <div class="media-body">
                                    <h5 class="media-heading">Creative Tim</h5>
                                    <div class="pull-right">
                                        <h6 class="text-muted">Sep 11, 11:53 AM</h6>
                                        <a href="#" class="btn btn-info btn-simple pull-right "> <i class="fa fa-reply"></i> Reply</a>

                                    </div>
                                    <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                                    <p> Don't forget, You're Awesome!</p>

                                    <div class="media-footer">
                                        <a href="#" class="btn btn-danger btn-simple">
                                             <i class="ti-heart"></i> 243
                                        </a>
                                        <a href="#" class="btn btn-simple">
                                             <i class="ti-heart-broken"></i> 2
                                        </a>
                                        <a href="#" class="btn btn-simple">
                                             Follow · 3
                                        </a>
                                    </div>

                                     <div class="media media-post">
                                             <a class="pull-left author" href="#">
                                              <div class="avatar">
                                                    <img class="media-object" alt="64x64" src="assets/img/chet_faker_2.jpg">
                                              </div>
                                          </a>
                                          <div class="media-body">
                                                <textarea class="form-control" placeholder="Write a nice reply or go home..." rows="4"></textarea>
                                                <div class="media-footer">
                                                     <a href="#" class="btn btn-info btn-fill pull-right">Reply</a>
                                                </div>
                                          </div>
                                     </div> <!-- end media-post -->
                                  </div>
                            </div> <!-- end media -->

                            <!--  Comment                    -->
                            <div class="media">
                              <a class="pull-left" href="#">
                                  <div class="avatar">
                                     <img class="media-object" alt="Tim Picture" src="assets/img/flume.jpg">
                                  </div>
                              </a>
                              <div class="media-body">

                                <h5 class="media-heading">Flume</h5>
                                <div class="pull-right">
                                    <h6 class="text-muted">Sep 11, 11:54 AM</h6>
                                    <a href="#" class="btn btn-info btn-simple pull-right "> <i class="fa fa-reply"></i> Reply</a>

                                </div>

                                 <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>

                                 <div class="media-footer">
                                    <a href="#" class="btn btn-simple">
                                         <i class="ti-heart"></i> 243
                                    </a>
                                    <a href="#" class="btn btn-primary btn-simple">
                                         <i class="ti-heart-broken"></i> 2
                                    </a>
                                    <a href="#" class="btn btn-simple">
                                         Follow · 3
                                    </a>
                                 </div>
                                 <div class="media">
                                      <a class="pull-left" href="#">
                                          <div class="avatar">
                                                <img class="media-object" alt="64x64" src="assets/img/chet_faker_2.jpg">
                                          </div>
                                      </a>
                                      <div class="media-body">
                                            <h5 class="media-heading">Chet Faker</h5>
                                            <div class="pull-right">
                                                <h6 class="text-muted">Sep 11, 11:56 AM</h6>
                                                <a href="#" class="btn btn-info btn-simple pull-right "> <i class="fa fa-reply"></i> Reply</a>

                                            </div>
                                            <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                                            <p> Don't forget, You're Awesome!</p>

                                            <div class="media-footer">
                                                <a href="#" class="btn btn-danger btn-simple">
                                                     <i class="ti-heart"></i> 243
                                                </a>
                                                <a href="#" class="btn btn-simple">
                                                     <i class="ti-heart-broken"></i> 2
                                                </a>
                                                <a href="#" class="btn btn-info btn-simple">
                                                     Follow · 3
                                                </a>
                                            </div>
                                      </div>
                                  </div> <!-- end media -->
                              </div>
                            </div> <!-- end media -->
                            <div class="media">
                                  <a class="pull-left" href="#">
                                      <div class="avatar">
                                            <img class="media-object" alt="64x64" src="assets/img/banks.jpg">
                                      </div>
                                  </a>
                                  <div class="media-body">
                                        <h5 class="media-heading">Banks</h5>
                                        <div class="pull-right">
                                            <h6 class="text-muted">Sep 11, 11:57 AM</h6>
                                            <a href="#" class="btn btn-info btn-simple pull-right "> <i class="fa fa-reply"></i> Reply</a>

                                        </div>
                                        <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                                        <p> Don't forget, You're Awesome!</p>

                                        <div class="media-footer">
                                            <a href="#" class="btn btn-simple">
                                                 <i class="ti-heart"></i> 243
                                            </a>
                                            <a href="#" class="btn btn-simple">
                                                 <i class="ti-heart-broken"></i> 2
                                            </a>
                                            <a href="#" class="btn btn-simple">
                                                 Follow · 3
                                            </a>
                                        </div>
                                  </div>
                            </div> <!-- end media -->
                            <div class="pagination-area">
                                <ul class="pagination pagination-no-border">
                                     <!--   color-classes: "pagination-blue", "pagination-azure", "pagination-orange", "pagination-red", "pagination-green", special-classes: "pagination-no-border"  -->
                                      <li><a href="#">«</a></li>
                                      <li class="active"><a href="#">1</a></li>
                                      <li><a href="#">2</a></li>
                                      <li><a href="#">3</a></li>
                                      <li><a href="#">4</a></li>
                                      <li><a href="#">5</a></li>
                                      <li><a href="#">»</a></li>
                                 </ul>
                            </div>
                        </div> <!-- end media-area -->
                    </div> <!-- end col-md-8 -->
                </div> <!-- end row -->
            </div>
        </div>
    </div>
</div>