<div class="wrapper blog">
    <div class="main">
        <div class="section section-white">
            <div class="container">
                <div class="article">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="text-center">
                                <p id="notice"><%= notice %></p>
                                <span class="label label-warning"><%= @board.name %></span>
                                <h3 class="title"><%= @post.title %></h3>
                                <h6 class="title-uppercase"><%= @post.created_at.strftime("%Y %B %d, %T") %></h6>
                                <% if can? :update, @post %>
                                  <!--수정버튼-->
                                    <%= link_to edit_board_post_path(@post.board, @post) do %>
                                      <button class="btn btn-icon btn-sm btn-warning btn-fill" rel="tooltip" title="수정하기">
                                        <i class="fa fa-edit"></i>
                                      </button>
                                    <% end %>
                                <% end %>

                                <% if can? :destroy, @post %>
                                    <!--삭제버튼-->
                                    <%= link_to board_post_path(@post.board, @post), method: :delete, data: { confirm: 'Are you sure?' } do %>
                                      <button class="btn btn-icon btn-sm btn-danger btn-fill" rel="tooltip" title="삭제하기">
                                        <i class="fa fa-times"></i>
                                      </button>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="article-image text-center">
                                <div class="card-big-shadow">
                                    <div class="card" style="background-image: url('<%= image_path "cat.jpg" %>');">
                                    </div> <!-- end card -->
                                </div>
                                <p class="image-thumb"><%= @post.user.username %>님께서 작성하셨습니다.</p>
                            </div>
                            <div class="article-content text-center">
                                <p>
                                 <%= @post.content.html_safe %>
                                </p>
                            </div>
                            <div class="media-footer">
                                <%= link_to like_board_post_path(@board, @post), class: "btn btn-danger btn-simple", method: :put  do %>
                                     <i class="ti-heart"></i> <%= @post.get_upvotes.size %>
                                <% end %>
                                <%= link_to dislike_board_post_path(@board, @post), class: "btn btn-simple", method: :put  do %>
                                   <i class="ti-heart-broken"></i> <%= @post.get_downvotes.size %>
                                <% end %>
                                <span href="#" class="btn btn-simple">
                                     view · <%= @post.hits %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-2">
                        <div class="pull-left">
                            <button class="btn btn-info btn-move-left"><i class="fa fa-angle-left"></i> 이전 글</button>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-3">
                        <div class="text-center">
                            <%= link_to board_posts_path do %>
                                <button class="btn btn-info btn-magnify">목록으로 <i class="fa fa-list-alt" aria-hidden="true"></i></button>
                            <% end %>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-3">
                        <div class="pull-right">
                            <button class="btn btn-info btn-move-right">다음 글 <i class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




<!--덧글-->
<div class="wrapper">
    <div class="main">
        <div class="section">
            <div class="container container-tim">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="media-area">
                          <h3>덧글 · <%= @post.comments ? "0" : @counts.count %></h3>
<%#= render @comment %>
<% @post.comments.each do |comment| %>
<div class="media">
  <a class="pull-left" href="#">
   <div class="avatar">
        <%= image_tag "placeholder.jpg",class: "media-object" %>
   </div>
  </a>
  <div class="media-body">
    <h5 class="media-heading"><%= comment.user.username %></h5>
    <div class="pull-right">
        <h6 class="text-muted"><%= comment.created_at.strftime("%Y %B %d, %T") %></h6>
        <!-- <a href="#" class="btn btn-info btn-simple pull-right "> <i class="fa fa-reply"></i> Reply</a> -->
    </div>
    <p><%= comment.content %></p>

    <div class="media-footer">
      <%= link_to like_board_post_comment_path(@board, @post, comment), class: "btn btn-danger btn-simple", method: :put  do %>
           <i class="ti-heart"></i> <%= comment.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_board_post_comment_path(@board, @post, comment), class: "btn btn-simple", method: :put  do %>
           <i class="ti-heart-broken"></i> <%= comment.get_downvotes.size %>
      <% end %>
  <!--덧글 수정 및 삭제-->
      <% if current_user == comment.user %>
      <!--수정버튼-->
        <a style='cursor:pointer' id="posts-comment-toggle<%=comment.id%>" >

          <script>
            $('#posts-comment-toggle<%=comment.id%>').click(function(){
              var toggle = $('#comment-toggle<%=comment.id%>');
              if( toggle.is(':hidden') ){
                  toggle.slideDown();
              } else {
                  toggle.slideUp();
              }
            });
          </script>

          <button class="btn btn-icon btn-sm btn-warning btn-fill" rel="tooltip" title="수정하기">
            <i class="fa fa-edit"></i>
          </button>
        </a>
        &nbsp;
        <!--수정 폼-->
        <% if can? :update, comment %>
          <div class="media media-post" id='comment-toggle<%=comment.id%>' style='display: none;'>
            <div class="media-body">
              <%= form_for [comment], method: :put, remote: true do |f|%>
                  <%= f.text_area :content, :rows => 4, class: "form-control", placeholder: "예의 있게 써주세요"  %>
                </p>
                <p><%= f.submit "수정하기",class: "btn btn-info btn-fill btn-wd pull-right" %></p>
              <% end %>
            </div>
           </div> <!-- end media-post -->
        <% end %>

        <!--삭제버튼-->
        <% if can? :destroy, comment %>
          <%= link_to comment, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <button class="btn btn-icon btn-sm btn-danger btn-fill" rel="tooltip" title="삭제하기">
              <i class="fa fa-times"></i>
            </button>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div> <!-- end media -->
<% end %>

                        <!--덧글 작성-->
                          <div class="media media-post">
                            <a class="pull-left author" href="#">
                                <div class="avatar">
                                      <!--현재 유저의 프로파일-->
                                      <img class="media-object" alt="64x64" src="assets/img/banks.jpg">
                                </div>
                            </a>
                            <div class="media-body">
                            	<%= form_for [@board, @post, @post.comments.new] do |f| %>
                                <div class="media-footer">
                                  <%= f.text_area :content, :rows => 6, class: "form-control border-input", placeholder: "예의 있게 써주세요"  %>
                                </div>
                                <p><%= f.submit "덧글달기",class: "btn btn-info btn-fill btn-wd pull-right" %></p>
                              <% end %>
                            </div>
                          </div>
                        </div> <!-- end media-area -->
                    </div> <!-- end col-md-8 -->
                </div> <!-- end row -->
            </div>
        </div>
    </div>
</div>
</div>
</div>
