.bg-color-light
  .container.content-sm
    .row
      .col-md-10.col-md-offset-1
        %center
          %p#notice= notice
        / News v3
        = link_to @board.name, board_posts_path(@board), class: "btn-u btn-u-lg"
        .news-v3.bg-color-white.margin-bottom-30
          .news-v3-in.clearfix.row
            .col-sm-3.shadow-wrapper.col-md-2.text-center
              .box-shadow.shadow-effect-2.rounded-2x.col-xs-8.col-sm-12
                = image_tag current_user.photo ? current_user.photo : "placeholder.jpg", class: "img-responsive rounded-2x img-bordered"
              %h3= @post.user.username
              - if can? :update, @post
                / 수정버튼
                = link_to edit_board_post_path(@post.board, @post) do
                  %button.btn-u.btn-brd.btn-brd-hover.rounded-4x.btn-u-orange{:rel => "tooltip", :title => "수정하기"}
                    %i.fa.fa-edit
              - if can? :destroy, @post
                / 삭제버튼
                = link_to board_post_path(@post.board, @post), method: :delete, data: { confirm: 'Are you sure?' } do
                  %button.btn-u.btn-brd.btn-brd-hover.rounded-4x.btn-u-red{:rel => "tooltip", :title => "삭제하기"}
                    %i.fa.fa-trash-o
            .col-sm-9.col-md-10
              %center
                %h3.title= @post.title
                %h6.title-uppercase= timeago_tag @post.created_at
              / 태그출력
              .margin-bottom-5.text-center
                - @post.tag_list.each do |x|
                  %span{:class => "label rounded label-#{@samples.sample} margin-right-5"}
                    %i.fa.fa-tags
                    = x
              / 글 출력
              %p= @post.content.html_safe
              / 좋아요 / 싫어요
              %ul.list-inline.badge-lists.badge-box-v1.margin-bottom-30.text-center
                %li
                  = link_to like_board_post_path(@board, @post), id: "like-btn", remote: true  do
                    %i.rounded-x.ti-heart.text-danger
                    %span.badge.badge-red.rounded-x= @post.get_upvotes.size
                %li
                  = link_to dislike_board_post_path(@board, @post), id: "dislike-btn", remote: true do
                    %i.rounded-x.ti-heart-broken
                    %span.badge.badge-gray.rounded-x= @post.get_downvotes.size
        / End News v3
        %hr/
        / Blog Comments
        #ajax_comment
          = render "posts/comments/comment"
        = render "posts/comments/form"
        / End Blog Comments
        / Sidebar: More Articles Box
        .outside-more-articles.outside-more-articles--right{"data-scrolltop" => "400"}
          %h2.title-v4 More Articles
          .blog-thumb.blog-thumb-circle.margin-bottom-15
            .blog-thumb-hover
              %img.rounded-x{:alt => "", :src => "assets/img/blog/img1.jpg"}/
              %a.hover-grad{:href => "blog_single.html"}
                %i.fa.fa-link
            .blog-thumb-desc
              %h3
                %a{:href => "blog_single.html"} Misused words and how to use them correctly
              %ul.blog-thumb-info
                %li Mar 6, 2015
                %li
                  %a{:href => "#"}
                    %i.fa.fa-comments
                    0
          .blog-thumb.blog-thumb-circle.margin-bottom-15
            .blog-thumb-hover
              %img.rounded-x{:alt => "", :src => "assets/img/blog/img22.jpg"}/
              %a.hover-grad{:href => "blog_single.html"}
                %i.fa.fa-link
            .blog-thumb-desc
              %h3
                %a{:href => "blog_single.html"} 8 health benefits and drawbacks of coffee
              %ul.blog-thumb-info
                %li Mar 6, 2015
                %li
                  %a{:href => "#"}
                    %i.fa.fa-comments>
                    0
          .blog-thumb.blog-thumb-circle.margin-bottom-15
            .blog-thumb-hover
              %img.rounded-x{:alt => "", :src => "assets/img/blog/img2.jpg"}/
              %a.hover-grad{:href => "blog_single.html"}
                %i.fa.fa-link
            .blog-thumb-desc
              %h3
                %a{:href => "blog_single.html"} What are the top five books you must read?
              %ul.blog-thumb-info
                %li Mar 6, 2015
                %li
                  %a{:href => "#"}
                    %i.fa.fa-comments
                    0
          .blog-thumb.blog-thumb-circle
            .blog-thumb-hover
              %img.rounded-x{:alt => "", :src => "assets/img/blog/img21.jpg"}/
              %a.hover-grad{:href => "blog_single.html"}
                %i.fa.fa-link
            .blog-thumb-desc
              %h3
                %a{:href => "blog_single.html"} Stylish things to do, see and buy this week
              %ul.blog-thumb-info
                %li Mar 6, 2015
                %li
                  %a{:href => "#"}
                    %i.fa.fa-comments
                    0
          %a.outside-more-articles__close{:href => "javascript:void(0);"}
            %span.icon-close{"aria-hidden" => "true"}
        / End More Articles Box
        / <div class="row news-v2 margin-bottom-50">
        / <div class="col-sm-4 sm-margin-bottom-30">
        / <div class="news-v2-badge">
        / <img class="img-responsive" src="assets/img/main/img3.jpg" alt="">
        / <p>
        / <span>24</span>
        / <small>Jan</small>
        / </p>
        / </div>
        / <div class="news-v2-desc">
        / <h3><a href="#">Blog Image Post</a></h3>
        / <small>By Admin | California, US | In <a href="#">Art</a></small>
        / <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
        / </div>
        / </div>
        / <div class="col-sm-4 sm-margin-bottom-30">
        / <div class="news-v2-badge">
        / <img class="img-responsive" src="assets/img/main/img6.jpg" alt="">
        / <p>
        / <span>23</span>
        / <small>Jan</small>
        / </p>
        / </div>
        / <div class="news-v2-desc">
        / <h3><a href="#">Blog Image Post</a></h3>
        / <small>By Admin | California, US | In <a href="#">Art</a></small>
        / <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
        / </div>
        / </div>
        / <div class="col-sm-4">
        / <div class="news-v2-badge">
        / <img class="img-responsive" src="assets/img/main/img4.jpg" alt="">
        / <p>
        / <span>22</span>
        / <small>Jan</small>
        / </p>
        / </div>
        / <div class="news-v2-desc">
        / <h3><a href="#">Blog Image Post</a></h3>
        / <small>By Admin | California, US | In <a href="#">Art</a></small>
        / <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
        / </div>
        / </div>
        / </div>
      / /end container
= render "posts/common_components/table"
