.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12.margin-bottom-30
    = image_tag "locker_book/mobile.png", style: "width: 100%;"
.row
  / 모바일 왼쪽 사물함
  .col-xs-6.col-sm-6.col-md-6.col-lg-6
    %table.table.table-bordered
      %tbody
        - 1.upto(2) do |x|
          %tr
            %td.red-box X
            / 1,13
            %td.red-box X
            / 2,14
            %td.red-box X
            / 3,15
            %td.red-box X
            / 4,16
            %td.red-box X
            / 5,17
            %td.red-box X
            / 6,18
        %tr
          - if @our_locker.major.users.find_by(lnum: 24).nil?
            %td= link_to "24", lockerselect_lockers_path( :lnum => 24 ), method: :post
          - else
            %td.red-box X
          - if @our_locker.major.users.find_by(lnum: 25).nil?
            %td= link_to "25", lockerselect_lockers_path( :lnum => 25 ), method: :post
          - else
            %td.red-box X
          - if @our_locker.major.users.find_by(lnum: 26 ).nil?
            %td= link_to "26", lockerselect_lockers_path( :lnum => 26 ), method: :post
          - else
            %td.red-box X
          - if @our_locker.major.users.find_by(lnum: 27 ).nil?
            %td= link_to "27", lockerselect_lockers_path( :lnum => 27 ), method: :post
          - else
            %td.red-box X
          - if @our_locker.major.users.find_by(lnum: 28 ).nil?
            %td= link_to "28", lockerselect_lockers_path( :lnum => 28 ), method: :post
          - else
            %td.red-box X
          - if @our_locker.major.users.find_by(lnum: 29 ).nil?
            %td= link_to "29", lockerselect_lockers_path( :lnum => 29 ), method: :post
          - else
            %td.red-box X
        %tr
          %td.red-box X
          / 37
          %td.red-box X
          / 38
          - if @our_locker.major.users.find_by(lnum:39 ).nil?
            %td= link_to "39", lockerselect_lockers_path( :lnum => 39 ), method: :post
          - else
            %td.red-box X
          - if @our_locker.major.users.find_by(lnum:40 ).nil?
            %td= link_to "40", lockerselect_lockers_path( :lnum => 40 ), method: :post
          - else
            %td.red-box X
          - if @our_locker.major.users.find_by(lnum:41 ).nil?
            %td= link_to "41", lockerselect_lockers_path( :lnum => 41 ), method: :post
          - else
            %td.red-box X
          - if @our_locker.major.users.find_by(lnum:42 ).nil?
            %td= link_to "42", lockerselect_lockers_path( :lnum => 42 ), method: :post
          - else
            %td.red-box X
        %tr
          - if @our_locker.major.users.find_by(lnum:49 ).nil?
            %td= link_to "49", lockerselect_lockers_path( :lnum => 49 ), method: :post
          - else
            %td.red-box X
          - if @our_locker.major.users.find_by(lnum:50 ).nil?
            %td= link_to "50", lockerselect_lockers_path( :lnum => 50 ), method: :post
          - else
            %td.red-box X
          - if @our_locker.major.users.find_by(lnum:51 ).nil?
            %td= link_to "51", lockerselect_lockers_path( :lnum => 51 ), method: :post
          - else
            %td.red-box X
          - if @our_locker.major.users.find_by(lnum:52 ).nil?
            %td= link_to "52", lockerselect_lockers_path( :lnum => 52 ), method: :post
          - else
            %td.red-box X
          - if @our_locker.major.users.find_by(lnum:28 ).nil?
            %td= link_to "53", lockerselect_lockers_path( :lnum => 53 ), method: :post
          - else
            %td.red-box X
          - if @our_locker.major.users.find_by(lnum:29 ).nil?
            %td= link_to "54", lockerselect_lockers_path( :lnum => 54 ), method: :post
          - else
            %td.red-box X
  / 모바일 오른쪽 사물함
  .col-xs-6.col-sm-6.col-md-6.col-lg-6
    %table.table.table-bordered
      %tbody
        - 1.upto(5) do |x|
          %tr
            - if @our_locker.major.users.find_by(lnum: 7 + ( 12 * ( x  - 1 ))).nil?
              %td= link_to "#{ 7 + ( 12 * ( x  - 1 )) }", lockerselect_lockers_path( :lnum => "#{ 7 + ( 12 * ( x  - 1 ))}"), method: :post
            - else
              %td.red-box X
            - if @our_locker.major.users.find_by(lnum: 8 + ( 12 * ( x  - 1 ))).nil?
              %td= link_to "#{ 8 + ( 12 * ( x  - 1 )) }", lockerselect_lockers_path( :lnum => "#{ 8 + ( 12 * ( x  - 1 ))}"), method: :post
            - else
              %td.red-box X
            - if @our_locker.major.users.find_by(lnum: 9 + ( 12 * ( x  - 1 ))).nil?
              %td= link_to "#{ 9 + ( 12 * ( x  - 1 )) }", lockerselect_lockers_path( :lnum => "#{ 9 + ( 12 * ( x  - 1 ))}"), method: :post
            - else
              %td.red-box X
            - if @our_locker.major.users.find_by(lnum: 10 + ( 12 * ( x  - 1 ))).nil?
              %td= link_to "#{ 10 + ( 12 * ( x  - 1 )) }", lockerselect_lockers_path( :lnum => "#{ 10 + ( 12 * ( x  - 1 ))}"), method: :post
            - else
              %td.red-box X
            - if @our_locker.major.users.find_by(lnum: 11 + ( 12 * ( x  - 1 ))).nil?
              %td= link_to "#{ 11 + ( 12 * ( x  - 1 )) }", lockerselect_lockers_path( :lnum => "#{ 11 + ( 12 * ( x  - 1 ))}"), method: :post
            - else
              %td.red-box X
            - if @our_locker.major.users.find_by(lnum: 12 + ( 12 * ( x  - 1 ))).nil?
              %td= link_to "#{ 12 + ( 12 * ( x  - 1 )) }", lockerselect_lockers_path( :lnum => "#{ 12 + ( 12 * ( x  - 1 ))}"), method: :post
            - else
              %td.red-box X
