.header.header-sticky
  .container
    / Logo
    = link_to root_path, class: "logo" do
      = image_tag "dku/logo_name.png", alt: "Dku Logo", style: "height: 3rem;"

    / End Logo
    / Topbar
    .topbar
      %ul.loginbar.pull-right
        - if user_signed_in?

          %li
            = link_to edit_user_registration_path do
              %i.fa.fa-cog
              =(current_user.username.nil? ? current_user.name : current_user.username )
          -# &nbsp;
          -# |
          -# &nbsp;
          %li.topbar-devider
          %li= link_to "로그아웃", destroy_user_session_path, method: "delete"
        - else
          %li
            = link_to new_user_session_path do
              %i.fa.fa-power-off
              로그인
    / End Topbar
    / Toggle get grouped for better mobile display
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.fa.fa-bars
    / End Toggle
  / /end container
  / Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse.mega-menu.navbar-responsive-collapse
    .container
      %ul.nav.navbar-nav
        %li.dropdown.mega-menu-fullwidth
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:void(0);"}
            전체 메뉴
          %ul.dropdown-menu
            %li
              .mega-menu-content.disable-icons
                .container
                  .row.equal-height
                    .col-md-3.equal-height-in
                      %ul.list-unstyled.equal-height-list
                        %li
                          %h3
                            학교 커뮤니티 프로젝트(과거)
                        / Buttons
                        %li
                          = link_to home_dku_path do
                            %i.fa.fa-home
                            홈
                        %li
                          = link_to lecture_infos_path do
                            %i.fa.fa-university
                            강의 평가
                            -# %span.label.rounded.label-orange New
                        %li
                          = link_to sign_in_test_users_path do
                            %i.fa.fa-sort-alpha-asc
                            수강신청 리허설
                            -# %span.label.rounded.label-orange New
                        %li
                          = link_to pickmes_path do
                            %i.fa.fa-hand-peace-o
                            Professor 101(인기 투표)
                            -# %span.label.rounded.label-red Hot
                        %li
                          = link_to home_lockers_path do
                            %i.fa.fa-th
                            사물함 신청
                            -# %span.label.rounded.label-red Open

                        %li
                          = link_to home_lockers_path do
                            %i.fa.fa-book
                            학과별 중고책 신청
                            -# %span.label.rounded.label-yellow Test Open
                        %li
                          = link_to new_school_phone_searching_path do
                            %i.fa.fa-phone-square
                            단국대 기관 전화번호 검색
                        %li
                          = link_to book_lists_path do
                            %i.fa.fa-search
                            인액터스 중고책 검색
                            -# %span.label.rounded.label-info Cool
                        %li
                          = link_to board_posts_path("1") do
                            %i.fa.fa-commenting
                            커뮤니티 게시판
                    .col-md-3.equal-height-in
                      %ul.list-unstyled.equal-height-list
                        %li
                          %h3 토이 프로젝트
                        %li
                          = link_to morphemes_path do
                            %i.fa.fa-quote-left
                            Mecab 형태소 분석
                        %li
                          = link_to d3js_path do
                            %i.fa.fa-globe
                            D3.js
                        %hr

                    .col-md-3.equal-height-in
                      %ul.list-unstyled.equal-height-list
                        %li
                          %h3 공부 및 활동
                        / Common Elements
                        %li
                          = link_to "http://dankook.likelion.net/" do
                            = image_tag "likelion/lion_head.ico", style: "width: 23px;"
                            %nbsp
                            멋쟁이사자처럼
                    .col-md-3.equal-height-in
                      %ul.list-unstyled.equal-height-list
                        %li
                          %h3 여가
                        %li
                          %a{:href => "shortcode_form_general1.html"}
                            %i.fa.fa-bars
                            General Unify Forms
        %li.dropdown
          = link_to "javascript:void(0);", class: "dropdown-toggle", data: {toggle: "dropdown"} do
            학교 프로젝트(과거)
          %ul.dropdown-menu
            %li
              = link_to lecture_infos_path do
                %i.fa.fa-university
                강의 평가
                -# %span.label.rounded.label-orange New
            %li
              = link_to sign_in_test_users_path do
                %i.fa.fa-sort-alpha-asc
                수강신청 리허설
                -# %span.label.rounded.label-orange New
            %li
              = link_to pickmes_path do
                %i.fa.fa-hand-peace-o
                Professor 101(인기 투표)
                -# %span.label.rounded.label-red Hot
            %li
              = link_to home_lockers_path do
                %i.fa.fa-th
                사물함 신청
                -# %span.label.rounded.label-red Open
            %li
              = link_to home_lockers_path do
                %i.fa.fa-book
                학과별 중고책 신청
                -# %span.label.rounded.label-yellow Test Open
            %li
              = link_to new_school_phone_searching_path do
                %i.fa.fa-phone-square
                단국대 기관 전화번호 검색
            %li
              = link_to book_lists_path do
                %i.fa.fa-search
                인액터스 중고책 검색
            %li
              = link_to board_posts_path("1") do
                %i.fa.fa-commenting
                커뮤니티 게시판

        %li.dropdown
          = link_to blogings_path do
            공부 및 활동
          %ul.dropdown-menu
            %li
              = link_to "http://dankook.likelion.net/" do
                = image_tag "likelion/lion_head.ico", style: "width: 23px;"
                %nbsp
                멋쟁이사자처럼
        %li.dropdown
          = link_to "javascript:void(0);", class: "dropdown-toggle", data: {toggle: "dropdown"}  do
            토이 프로젝트
          %ul.dropdown-menu
            %li
              = link_to morphemes_path do
                %i.fa.fa-quote-left
                Mecab 형태소 분석
            %li
              = link_to d3js_path do
                %i.fa.fa-globe
                D3.js

        %li
          %i.search.fa.fa-search.search-btn
          .search-open
            .input-group.animated.fadeInDown
              %input.form-control{:placeholder => "Search", :type => "text"}/
              %span.input-group-btn
                %button.btn-u{:type => "button"} Go
        / End Search Block
    / /end container
  / /navbar-collapse
