<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workspace</title>
	<%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'chart' if params[:controller] == "lecture_estimates" && params[:action] == "index"%>
	<%= timeago_script_tag %>
	<%= csrf_meta_tags %>
</head>

<body>
	<div class="wrapper">
    <%= render "header" %>

    <%= yield %>

    <%= render "footer" %>
  </div>
</body>
</html>
