!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    -# %meta{:content => "http://", :property => "og:url"}
    %meta{:content => "website", :property => "og:type"}
    %meta{ content: asset_url("dku/3.png"), property: "og:image" }
    %meta{:id => "mttitle", :content => "수강신청 리허설", :property => "og:title"}
    %meta{:id => "mtdesc", :content => "Dku(디쿠)", :property => "og:description"}
    %meta{:id => "kakao_image", :content => asset_url("dku/3.png")}
    %meta{:content => "300", :property => "og:image:width"}/
    %meta{:content => "200", :property => "og:image:height"}/

    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'

    %title 디쿠
    = include_gon
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'fakeloader'
    = stylesheet_link_tag    'owl.carousel' if controller_name == "home"
    = stylesheet_link_tag    'owl.theme' if controller_name == "home"
    = javascript_include_tag 'application'
    = javascript_include_tag(controller_name == "home" ? "loading/fakeloader" : "loading/pace")
    = javascript_include_tag 'chart' if controller_name == "lecture_estimates" && action_name == "index"
    = javascript_include_tag 'jquery.vticker.min' if controller_name == "lecture_infos" && action_name == "index"
    = javascript_include_tag 'jquery.vticker.min' if controller_name == "home"
    = javascript_include_tag 'owl_carousel' if controller_name == "home"
    %script.sns-script{:src => "http://developers.kakao.com/sdk/js/kakao.min.js"}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65881210-4', 'auto');
      ga('send', 'pageview');

    = timeago_script_tag
    = csrf_meta_tags

  %body
    #fakeLoader
    .wrapper
      = render "header"
      = render partial: "application/shared/flash_message", flash: flash
      = yield
      = render "footer"
