!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    -# %meta{:content => "http://", :property => "og:url"}
    %meta{:content => "website", :property => "og:type"}
    %meta{ content: asset_url("rehearsal.jpg"), property: "og:image" }
    %meta{:id => "mttitle", :content => "수강신청 리허설", :property => "og:title"}
    %meta{:id => "mtdesc", :content => "Dku(디쿠)", :property => "og:description"}
    %meta{:id => "kakao_image", :content => asset_url("rehearsal.jpg")}

    %title 디쿠
    = include_gon
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'fakeloader'
    = stylesheet_link_tag    'owl.carousel' if controller_name == "home"
    = stylesheet_link_tag    'owl.theme' if controller_name == "home"
    = javascript_include_tag 'application'
    = javascript_include_tag(controller_name == "home" ? "loading/fakeloader" : "loading/pace")
    = javascript_include_tag 'chart' if controller_name == "lecture_estimates" && action_name == "index"
    = javascript_include_tag 'jquery.vticker.min' if controller_name == "lecture_infos" && action_name == "index"
    = javascript_include_tag 'jquery.vticker.min' if controller_name == "home"
    = javascript_include_tag 'owl_carousel' if controller_name == "home"
    = timeago_script_tag
    = csrf_meta_tags
  %body
    #fakeLoader
    .wrapper
      = render "header"
      = render partial: "application/shared/flash_message", flash: flash
      = yield
      = render "footer"
