!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=0.3", :name => "viewport"}/
    %meta{:content => "http://mydku.com", :property => "og:url"}
    %meta{ content: asset_url("rehearsal.jpg"), property: "og:image" }
    %meta{:id => "mttitle", :content => "교수님 인기투표", :property => "og:title"}
    %meta{:id => "mtdesc", :content => "Dku(디쿠)", :property => "og:description"}
    %meta{:id => "kakao_image", :content => asset_url("rehearsal.jpg")}
    %meta{:content => "300", :property => "og:image:width"}/
    %meta{:content => "200", :property => "og:image:height"}/
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'

    %title Professor 101
    = stylesheet_link_tag    'pickme', media: 'all'
    = javascript_include_tag 'pickme'
    %script.sns-script{:src => "http://developers.kakao.com/sdk/js/kakao.min.js"}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65881210-4', 'auto');
      ga('send', 'pageview');
    = csrf_meta_tags
  %body
    #wrap
      / HEADER
      / mini gnb
      .gnb_wrap.dark
        .inner_wrap
          / 국문 gnb
          #gnb.gnb_kor
            %a.mnet{:title => "디쿠"}
            %dl
              %dt.blind 엠넷 메뉴
              %dd
                =link_to "홈으로", root_path
            = link_to users_sign_in_path do
              %button.login{:title => "로그인", :type => "button"} 로그인
          / //국문 gnb
      #header
        .inner_wrap
          %h1
            = link_to "PROFESSOR 101", pickmes_path, style: "background:url(#{image_url "professor-logo.png"}) no-repeat left bottom; background-size: contain;"
          %ul.navi
            -# %li.depth1.mn_02.hd-first
              = link_to pickme_intro_path do
                %em>
                서비스 정보
            %li.depth1.mn_03
              = link_to pickmes_path do
                %em>
                101 Professor
            %li.mn_04.depth1
              = link_to pickme_rankings_path do
                %em>
                인기순위
                %span{style: "position: relative;color: #fff;background: coral;border: 1px solid #eb5846;margin-right: -1px;padding: 4px 10px;"} 히트
          %d
            #share_image{data: {img: "pickme-min.png"}}
            =render "sns"
            -# %a.btn_f{:href => "https://www.facebook.com/produce101", :target => "_blank"} facebook
            -# %a.btn_t{:href => "https://www.twitter.com/mnetkr", :target => "_blank"} twitter
            -# %a.btn_i{:href => "https://www.instagram.com/produce101_official", :target => "_blank"} instagram
          .timeWrap
      / /HEADER

      %div{:class => "alert alert-warning fade in text-center", id: "flash", style: "width:230px; margin: 10px auto;"}
        %div{style: "text-align: center; font-size: 17px;"}= "총 투표수 : #{ActsAsVotable::Vote.where(votable_type: "Professor").count}"

    = yield

    #footerGlabal_2016
      .footerWrap
        .logoWrap
          %a{:href => "http://www.cjenm.com/"}
            %span.logo CJ E&amp;M
        -# .footerCont
          %ul.footerNavi
            %li
              %a{:href => "http://www.cjenm.com/company/about.aspx", :target => "footer"} 회사소개
              %em
            %li
              %a{:href => "javascript:;", :onclick => "window.open('http://www.mnet.com/mnet/mou/mou.asp','footer','scrollbars=no,toolbar=no,location=no,resizable=no,status=no,menubar=no,resizable=no,width=500,height=750');"} 엠넷제휴
              %em
            %li
              %a{:href => "javascript:;", :onclick => "window.open('http://user.interest.me/common/rules/tos.html?siteCode=S20','footer','scrollbars=yes,toolbar=no,location=no,resizable=no,status=no,menubar=no,resizable=no,width=900,height=750');"} 이용약관
              %em
            %li
              %a.bld{:href => "javascript:;", :onclick => "window.open('http://user.interest.me/common/rules/privacy.html?siteCode=S20','footer','scrollbars=yes,toolbar=no,location=no,resizable=no,status=no,menubar=no,resizable=no,width=900,height=750');"} 개인정보취급방침
              %em
            %li
              %a{:href => "javascript:;", :onclick => "window.open('http://user.interest.me/common/rules/youth_protect.html','footer','scrollbars=no,toolbar=no,location=no,resizable=no,status=no,menubar=no,resizable=no,width=900,height=650');"} 청소년보호정책
              %em
            %li
              %a{:href => "javascript:;", :onclick => "window.open('http://cs.interest.me/Content/Html/Law.html','footer'\t\t\t\t\t\t\t\t\t,'scrollbars=no,toolbar=no,location=no,resizable=no,status=no,menubar=no,resizable=no,width=550,height=650');"} 법적고지
              %em
            %li
              %a{:href => "javascript:;", :onclick => "window.open('http://cs.interest.me/Content/Html/Email.html','footer'\t\t\t\t\t\t\t\t\t,'scrollbars=no,toolbar=no,location=no,resizable=no,status=no,menubar=no,resizable=no,width=350,height=300');"} 이메일무단수집거부
              %em
            %li
              %a{:href => "http://www.mnet.com/tv/info/channel.asp", :target => "footer"} 채널안내
              %em
            %li
              %a{:href => "http://www.mnet.com/tv/info/qton.asp", :target => "footer"} 큐톤표
              %em
            %li
              %a{:href => "http://help.interest.me/faq/faq_lst.asp?cateIdx=58&cateValue=V", :target => "footer"} 고객센터
          %address
          %ul
            %li
              사업자등록번호 : 114-86-83380
              %em
            %li.dblock 통신판매신고번호 : 2011-서울마포-0404
            %li
              대표이사 : 김성수 [
              %a{:href => "javascript:;", :onclick => "window.open('http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=1148683380','');"}> 사업자정보확인
              ]
              %em
            %li.dblock 씨제이이앤엠㈜ 서울특별시 마포구 상암산로 66 (상암동) CJ이앤엠센터
            %li
              개인정보관리책임자 : 이동헌
              %em
            %li
              방송편성문의 : 080-080-0780/0781
              %em
            %li 사이트/동영상문의 : 1566-2226
          %p.copyright Copyright (C) CJ E&amp;M All rights reserved.
      / /FOOTER
