!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    %meta{:content => "http://kclf.ufosoft.net", :property => "og:url"}
    %meta{:content => "website", :property => "og:type"}
    %meta{ content: asset_url("ci.png"), property: "og:image" }
    %meta{:id => "mttitle", :content => "희망별빛 캠페인", :property => "og:title"}
    %meta{:id => "mtdesc", :content => "한국 어린이 백혈병 재단", :property => "og:description"}
    %meta{:id => "kakao_image", :content => asset_url("ci.png")}
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'

    %title 수강신청 리허설
    %link{ href:"//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel:"stylesheet"}
    - if params[:action] == "sign_in" || params[:action] == "sign_up"
      = stylesheet_link_tag    'rehearsal_sign', media: 'all'
      = javascript_include_tag 'rehearsal_sign'
    - else
      = stylesheet_link_tag    'rehearsal', media: 'all'
      = javascript_include_tag 'rehearsal'
    %script.sns-script{:src => "http://developers.kakao.com/sdk/js/kakao.min.js"}

    = csrf_meta_tags
  %body
    = yield
