!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=0.3", :name => "viewport"}/
    %meta{:content => "http://mydku.com", :property => "og:url"}
    %meta{ content: asset_url("rehearsal.jpg"), property: "og:image" }
    %meta{:content => "website", :property => "og:type"}
    %meta{:id => "mttitle", :content => "수강신청 리허설", :property => "og:title"}
    %meta{:id => "mtdesc", :content => "디쿠", :property => "og:description"}
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'

    %title 수강신청 리허설
    %link{ href:"//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel:"stylesheet"}
    - if params[:action] == "sign_in" || params[:action] == "sign_up"
      = stylesheet_link_tag    'rehearsal_sign', media: 'all'
      = javascript_include_tag 'rehearsal_sign'
    - else
      = stylesheet_link_tag    'rehearsal', media: 'all'
      = javascript_include_tag 'rehearsal'
    %script.sns-script{:src => "http://developers.kakao.com/sdk/js/kakao.min.js"}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65881210-4', 'auto');
      ga('send', 'pageview');

    = csrf_meta_tags
  %body
    = yield
